  <section class="travel_journal">

    <h2> My Travel List </h2>
    <div class="netherlands-section">
      <h3> the Netherlands </h3>
    <img class="netherlands-photo" src="./images/fifth.JPG" alt="netherlands">
  </div>

  <div class="brazil-section">
      <h3> Brazil </h3>
    <img class="brazil-photo" src="./images/fourth.JPG" alt="brazil">
  </div>

  </section>

</body>
</html>
