<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/css.css/">
  </head>
</html>
<body>
  <header>
  <h1> Wang </h1>

  <nav class="nav-bar-link">
    <a href="/home"> Home </a>
    <a href="/about"> About </a>
    <a href="/projects"> Projects </a>
    <a href="/blog"> Travel Journal </a>
  </nav>

  </header>

  <footer>
    <p class="footer">Find me on <a href="https://github.com/wangg131">github</a>!</p>
  </footer>

  <div id="primary-content">
    <%= yield %>
  </div>
</body>
</html>
