/*
Use CSS to...
Style your headings (<h1>, <h2>, etc.) so they are visually distinct.
*/

body {
  font-size: 13px;
  background-color: #FFFFFF;
  margin: 0px;
}

nav.title_bar ul {
  background-color: rgba(188, 188, 188, .2);
  padding: 0px 0px 0px 2em;
  margin: 0px;
  width: 100%;
}

nav.title_bar li {
  display: inline-block;
}

nav.title_bar a:link {
  color: gray;
  text-align: center;
  text-decoration: none;
  font-family: "Verdana" sans-serif;
  font-size: 1em;

  display: inline-block;

  width: 6em;
  padding: 1em;
}

nav.title_bar a:visited {
  color: gray;
  padding: 1em;
}

nav.title_bar a:hover {
  background-color: rgba(188, 188, 188, .5);
  padding: 1em;
}

nav.title_bar a:active {
  background-color: rgba(188, 188, 188, .8);
  padding: 1em;
}

footer {
  margin-top: 4em;
  padding: 1em 1em .5em 2%;

  display: inline-block;
  width: 100%;

  font-family: "Verdana" sans-serif;
  font-size: .8em;
  background-color: rgba(188, 188, 188, .2);
}

h1.title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: .5em;
  margin-bottom: 1.5em;
}

h2 {
  font-size: 1.2em;
  margin-top: 1.4em;
  margin-bottom: .8em;
  font-weight: bold;
}

h2 a:link {
  color: black;
  text-decoration: underline gray;
}

h2 a:visited {
  color: gray;
  text-decoration: underline gray;
}

h3 {
  font-size: 1.1em;
  margin-top: 1.2em;
  margin-bottom: .8em;
  font-weight: 500;
}

h3 a:link {
  color: black;
  text-decoration: underline gray;
}

h3 a:visited{
  color: gray;
  text-decoration: underline gray;
}


p {
  margin-top: .1em;
  margin-bottom: .8em;
  font-weight: 400;
}

#page_contents {
  width: 100%;
  max-width: 618.8px;
  overflow: auto;

  margin: auto;

  background-color: rgba(102, 0, 255, .1);
}

main {
  width: 80%;
  margin-left: 10%;
  /*max-width: 550px;*/
  /*padding: 25px;*/

  font-family: "Verdana" sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;

  float: left;

  background-color: rgba(102, 0, 255, .1);
}

aside {
  width: 20%;
  /*min-width: 100px;*/
  /*max-width: 300px;*/

  font-family: "Verdana" sans-serif;
  line-height: 1.5em;

  background-color: rgba(102, 0, 255, .1);
  float: left;
}

p.img_caption {
  font-size: .5em;
  margin-top: 0em;
  margin-bottom: 1em;
  font-style: italic;
}

#catchingash {
  width: 200px;
  display: block;
}

#bentley_popcorn {
  width: 200px;
  display: block;
}
