<section id= "about">

<img id="snow" src="./images/elia.jpg" alt="Elia Grenier">

<p>I  moved to Seattle in 2008 to do an AmeriCorps year after completing my undergraduate degree
  in History at the University of Montana. I briefly moved back to Montana in 2010 to coordinate
  a couple incoming international programs at Montana State University, and then back to Seattle
  I went to get a master's of education in Student Development Administration at Seattle University.</p>

<p>I decided to attend school part time and work full time, and was fortunate to work in the Office
  of University Planning, supporting the Assistant Vice President for University Planning and Director of
  Institutional Research and the Chief Information Officer. It was an amazing fit and by chance I got to
  start exploring the worlds of IT, data management and code while getting my degree in higher education.</p>

<p>I applied to a position as a Program Manger at Montana State University on a whim and surprised myself
  by taking the job and moving home. My path change was cemented when I realized that a favorite part of my
  job was the long nights I spent aggregating, analyzing and presenting data for a major grant application.
  I saw myself in a new light as someone who enjoyed being highly analytical and working with large datasets.</p>

<p>When I found out about Ada Developers Academy, I knew I had to take the long shot and apply, and was so happy
  to be accepted! This blog is designed to chronicle my journey this year as I learn how to code with an amazing
  cohort of women, starting with 7 months of more than full-time coursework and then transitioning into a
  5-month internship with a sponsoring company.</p>
</section>
