<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Dr. Vonn Jerry XLII is a mad scientist with over 10 years of experience being mad and try to do science." />
    <title>Dr. Vonn Jerry XLII, mad scientist for hire</title>
  </head>
  <body>
    <header align="center">
      <a id="top"></a>

      <h1>Dr. Vonn Jerry XLII<br />
      mad scientist for hire</h1>

      <nav align="center">
        <h3>
          <a href="/" title="go back to the home page, back where it all started.">home</a> -
          <a href="/about" title="learn more about my glorious, insane self.">about</a> -
          <a href="/blag" title="read about some of my recent doings.">blag</a> -
          <a href="/about#contact-me" title="get ahold of me.">contact</a> -
          <a href="/projects" title="what terrible projects will I think of next?">projects</a>
        </h3>
      </nav>
    </header>

    <section id="about-me" align="center">
      <h1>about me</h1>
      <div id="bio" align="left">
        <p>God creates dinosaurs. God destroys dinosaurs. God creates man. Man destroys God. Man creates dinosaurs. Dinosaurs eat man... woman inherits the earth.</p>
        <p>"Dr. Grant, my dear Dr. Sattler. Welcome to Jurassic Park." They turn and look at the view again. It's beautiful vista, reminiscent of an African plain. A whole herd of dinosaurs crosses the plain, maybe a hundred that we see in a quick glance alone. "Ellie, they're absolutely - - they're moving in herds. They do move in herds!" "We were right!" "How did you do it?! How did you do this?!"</p>
        <p>I was overwhelmed by the power of this place; but I made a mistake, too. I didn't have enough respect for that power and it's out now. The only thing that matters now are the people we love: Alan and Lex and Tim. John, they're out there where people are dying.</p>
        <p>"John, the kind of control you're attempting is not possible. If there's one thing the history of evolution has taught us, it's that life will not be contained. Life breaks free. It expands to new territories. It crashes through barriers. Painfully, maybe even dangerously, but and...well, there it is." Ellie listens to him, impressed. Watch her head - support her head. Grant, ignoring the others, picks up the baby dinosaur, and holds it on the palm of his hand, under the incubator's heat light. He spreads the tiny animal out on the back of his hand and delicately runs his finger over its tail, counting the vertebrae. A look of puzzled recognition crosses his face. "You're implying that a group of composed entirely of females will breed?" "I'm simply saying that life - - finds a way.</p>
        <p>We can make it if we run. No, we can't. Why not? Because we are being hunted. Oh God. In the bushes straight ahead. It's all right. Like hell it is!</p>
      </div>
    </section>

    <section id="contact-me">
      <table align="center" width="400">
        <caption>
          <h1>contact me</h1>
          <p><img src="images/drvonnjerryxlii.jpg" alt="A picture of Dr. Vonn Jerry XLII atop her trusty steed, a bicycle. She holds a sign that reads 'Please support clean air.'" title="A picture of Dr. Vonn Jerry XLII atop her trusty steed, a bicycle. She holds a sign that reads 'Please support clean air.'" height="200" width="200" /></p>
        </caption>
        <tr>
          <th>
            <p>email</p>
          </th>
          <td align="center">
            <p><a href="mailto:drvonnjerryxlii@gmail.com" title="send me an email!">drvonnjerryxlii@gmail.com</a></p>
          </td>
        </tr>
        <tr>
          <th>
            <p>github</p>
          </th>
          <td align="center">
            <p><a href="https://github.com/drvonnjerryxlii" title="check out my code on github.">drvonnjerryxlii</a></p>
          </td>
        </tr>
        <tr>
          <th>
            <p>linkedin</p>
          </th>
          <td align="center">
            <p><a href="https://www.linkedin.com/in/jerisommers" title="review my mad science history and projects.">Dr. Vonn Jerry XLII</a></p>
          </td>
        </tr>
        <tr>
          <th>
            <p>minionbook</p>
          </th>
          <td align="center">
            <p><a href="https://minions.com/drvonnjerryxlii" title="join my collection of minions!">Dr. Vonn Jerry XLII</a></p>
          </td>
        </tr>
        <tr>
          <th>
            <p>phone</p>
          </th>
          <td align="center">
            <p><a href="tel:18004MADSCI" title="leave me a voicemail.">1-800-4-mad-sci</a></p>
          </td>
        </tr>
        <tr>
          <th>
            <p>twitter</p>
          </th>
          <td align="center">
            <p><a href="https://twitter.com/drvonnjerryxlii" title="tweet me @DrVonnJerryXLII.">Dr. Vonn Jerry XLII</a></p>
          </td>
        </tr>
      </table>
    </section>

    <footer align="center">
      <nav>
        <h3>
          ^<a href="#top" title="jump to the top of the page.">top</a> -
          <a href="mailto:drvonnjerryxlii@gmail.com" title="send me a message!">email</a> -
          <a href="https://github.com/drvonnjerryxlii" title="check out my code.">github</a> -
          <a href="https://www.linkedin.com/in/jerisommers" title="review my mad science history and projects.">linkedin</a> -
          <a href="https://twitter.com/drvonnjerryxlii" title="tweet me @DrVonnJerryXLII!">twitter</a>
        </h3>
      </nav>
      <h2>Dr. Vonn Jerry XLII, mad scientist for hire</h2>
    </footer>
  </body>
</html>
