<div class="about">

  <h3>About Me</h3>
    <img src="images/sailboat.jpg" alt="Sailboat" height="250" >
    <p>My thoughts on something about me... Maybe a description of where I go to school and where I got my degree.  I should probably include something about my previous career.</p>

</div>
