<section> <!-- About me blurb -->
  <header>
    <h2>Weird art project</h2>
  </header>

  <table>
    <tr class="first_row"><td>Verbs</td><td>Pronouns</td><td>Nouns</td><td>Adjectives</td><td>Prepositional Phrases</td><tr>
    <tr><td>writes</td><td>she/her</td><td>programmer</td><td>queer</td><td>on <a href="http://twitter.com/lorainekv">Twitter</a></td></tr>
    <tr><td>reads</td><td>they/them</td><td>author</td><td>hapa</td><td>on <a href="https://github.com/lorainekv">GitHub</a></td></tr>
    <tr><td>bikes</td><td></td><td>cat person</td><td>goth</td><td>on <a href="http://www.goodreads.com/author/show/8947040.Loraine_Kanervisto">Goodreads</a></td></tr>
  </table>

</section>
