    <nav class = "menu">
        <a href="/">Home</a>
        <a href="blog">Blog</a>
        <a href="projects">Projects</a>
    </nav>
    <section class= "ed">
      <h2>Education</h2>
        <ul>
          <li>
            Ada Developer's Academy, <em>Student Developer</em>, 2015 - 2016
          </li>
          <li>
            Utah State University, <em>Environmental Science</em>, 2009 - 2013
          </li>
        </ul>
    </section>
    <section>
      <h2>Background</h2>
      <p>
        Blah blah blah blah blah blah
        Blah blah blah blah blah blah
        Blah blah blah blah blah blah
        Blah blah blah blah blah blah
      </p>
    </section>
    <section>
      <h2>MY PUPS</h2>
      <img src="./images/bad_girls_club.jpg" height = 350px, width = 265px>
    </section>
