  <header>
    <h2>About me</h2>
  </header>

  <p>Queer writer inspired by gadgets. Attending the Ada Developers Academy in the third cohort. Uninterested in quitting her coffee habit. Reads and writes sci-fi and horror.</p>
