<p>
  <img src="images/cat.jpg" alt= cat on computer>
</p>

<p>
  You probably stumbled upon this page by accident, that's okay, doesn't matter.
</p>

<p>
  <img src="images/ifly.jpg" width = "500" height="450" alt= "indoor skydiving">
</p>

<p>
  You can tell everyone you met me in real life somewhere ordinary, like a Starbucks.<br>
  There's a very good chance you would have run into me there anyways.<br>
  I drink way too much Starbucks...and Champagne.
</p>

<p>
  <img src="images/starbucks.jpg" width = "500" height="450" alt= "starbucks and champagne">
</p>

<p>
  I love good food and pretty flowers!
</p>

<p>
  <img src="images/steaks.jpg" width = "500" height="450" alt= "steaks">
  <img src="images/tulips.jpg" width = "500" height="450" alt= "tulips">
</p>
