
<section class="about-me-section">
  <h2> About Me... </h2>
    <ul>
      <li> I go by my last name. </li>
      <li> Current student at Ada Developers Academy for Cohort 3. </li>
      <li> Proud Husky. GO DAWGS!! </li>
      <li> Not a fan of these "About Me" profiles. </li>
    </ul>

   <img class= "centered-photos" id ="about-me-husky-photo" src="./images/husky.JPG" alt="husky-photo">

</section>
