<!DOCTYPE HTML>

<img src="/images/sounders.jpg" alt="Go Sounders!" height="188" width="250">

<p>
I'm a web developer in training with a Ph.D. in clinical psychology. I'm currently a student at Ada Developers Academy (ADA). After ADA, I hope to pursue  programming career that incorporates elements of psychological science (broadly construed).
</p>

<p>
Other interests include: biking, sci-fi, Sounders FC, poker, awesome boardgames, crafting things, hiking/backpacking, and my dog, Mabel.
</p>
