<article>
  <img src="images/haiku.jpg" alt="a picture of Brandi" title="Brandi Wilson">
  <p>
    Aloha, my name is Brandi Wilson. I was born and raised in Hawaii. Just recently, I was accepted into a program called Ada Developer’s Academy and moved to Seattle, WA to become a programmer.
  </p>
</article>
