<div id="about">
  <ul id="nav">
    <li><a href="mailto:vikshab2010@hotmail.com">Write me</a></li>
    <li><a href = "/projects">My projects</a></li>
    <li><a href = "/blog">My blog</a></li>
    <li><a href = "/gallery"> Photo gallery</a></li>
    <li><a href = "/">Back to homepage</a></li>
  </ul>

  <header><h1>Let's start!</h1></header>

  <p>Hey! My name is Victoria and I'm 30 years old. I was born and raised in Belarus,
    but in 2010 I moved to California, San Diego. Life in California was awesome! But
    things happen and in 2013 I moved to Seattle, Washington state.
    By this age, most people of my age have a certain profession, but I'm not one of them.
    Since my graduation from Belarus State Economic University in 2008 I've never used my diploma
    and I don't think I ever will. When I moved to the USA, I realized that I need to get an american
    education to be successful here... but honestly, I didn't feel like I wanted to spend another 4-5 years
    to get yet another diploma and still not be positive about getting a job upon graduation.
    I've been, am and will be positive about one thing: I like computer science. I've always been interested
    in all that magic happening behind the screen and hidden from user eyes.
    I'm currently a student at Ada Delevopers Academy. This site is the first project I did that's available
    not just for my classmates, intructers but also other people in the internet. Time on time I'll be updating my website
    as I acquire new skills and knowledge, so all of you are witnesses of my progress.
    I also put some other projects online that we've done so far in school, so if you're interested in projects we'are doing
    in class, please fill free to check them out, and you are more than welcome to leave some constructive comments.
    You can also read here about my life in America, why I decided to move here, some thoughts about life in general.
    For any questions you can write me a personal message.
  </p>
  <img src ="./images/3.jpg" alt = "photo" width = 900>
</div>
