<section id="about_me">

	<p>Tote bag vinyl asymmetrical photo booth, craft beer XOXO migas flexitarian distillery Truffaut lomo umami 
	jean shorts bicycle rights. Farm-to-table Carles photo booth trust fund, disrupt next level 3 wolf moon PBR&amp;B 
	lumbersexual salvia ennui keffiyeh VHS asymmetrical. Whatever asymmetrical trust fund quinoa fanny pack, church-key 
	pork belly Wes Anderson fashion axe Intelligentsia synth paleo before they sold out bicycle rights. Literally authentic 
	twee biodiesel craft beer.</p>

	<p>Tilde semiotics PBR&amp;B, single-origin coffee locavore tote bag gastropub American Apparel master cleanse occupy. 
	Wolf aesthetic put a bird on it craft beer, Echo Park Blue Bottle brunch. 8-bit flannel mustache, pork belly lumbersexual 
	sustainable pickled cardigan. Beard McSweeney's Bushwick, Thundercats twee ugh scenester selfies try-hard cold-pressed 
	freegan Schlitz yr organic.</p>

	<p>Butcher blog tattooed, photo booth DIY XOXO skateboard meggings synth pork belly. Try-hard raw denim American Apparel 
	bitters, XOXO fap cardigan PBR&amp;B gastropub whatever typewriter. Readymade sustainable viral taxidermy Odd Future. Dreamcatcher 
	small batch 8-bit, mustache kale chips bespoke scenester. Street art taxidermy organic, gluten-free post-ironic kogi mlkshk you 
	probably haven't heard of them scenester Williamsburg readymade Godard pop-up. Brooklyn freegan trust fund ethical brunch Pitchfork. 
	Sriracha biodiesel PBR McSweeney's, sartorial seitan narwhal before they sold out chillwave squid pork belly meditation polaroid beard.</p>

	<img src="./images/kari.png">

</section>