
<div class="main_body">
   <h3>Who I am:</h3>
   <img src="images/me.jpg" alt="Me" height="200" width="200">
   <p>
    I'm currently a student at Ada Developer's Academy, Cohort[2]. Ada is a year long intensive programming school, preparing graduates to start  careers as full-stack web developers. Someday, I will need a job. This   site is to showcase my work as a budding developer.
  </p>

  <h3>What I did before:</h3>
   <img src="images/Seattle_All_Sins.jpg" alt="Map" height="200" width="200">
   <p>
    Before Ada, I was a graduate student at the University of Washington, studying human geography. My focus was on the relationships between the digital and social, and how different groups leveraged digital technologies for power, community building, and activism, with a sepcific focus on women and gender. I also learned about mapping and how volunteered geographic data was changing how maps were produced and shared. Through this study, I realized that I wanted to be able to dig deaper into the technical aspects of mapping and geospatial data, but lacked the practical skills.
  </p>

  <h3>When I'm not coding:</h3>
  <p>
    I enjoy watching nerdy TV/movies, and have a soft spot for anything British. Seattle and the local environs are a magical outdoor playground, and I'm constantly amazed at all the beautiful and active things one can do. I began training Krav Maga last year, so expect a<a href="http://99gifs.com/-img/503b4c90afa96f6c00000b84.gif?w=400&h=300">krav handshake</a>if you try to rob me. I also enjoy a nice whiskey, good food with friends, and baking bomb ass bread:
  </p>
  <img src="images/bread.jpg" alt="Bread" height="150" width="200">
</div>
