<main>
  <h1 class="title">About Me</h1>
  <img id="catchingash" src="./images/130901_catchingash_copy2.jpeg" alt="silhouette of girl with dog">
  <p class="img_caption">Aspiring software developer | Dog lover | Bike commuter</p>
  <h2>Education</h2>
  <p>I am an aspiring software developer, and a current student at Ada Developers Academy (cohort 3).</p>
  <p>In 2015, I received my M.S. in Kinesiology / Exercise Physiology from the University of Minnesota. In 2013, I received a B.S. in Kinesiology and a B.A. in English from the University of Minnesota.</p>
</main>

<aside>
  <h1 class="title">Other Resources</h1>
  <ul>
    <li><a href="https://github.com/catchingash">Github</a></li>
    <li><a href="https://www.linkedin.com/in/catchingash">LinkedIn</a></li>
    <li><a href="https://twitter.com/catchingash">Twitter</a></li>
  </ul>
</aside>
