<div id="blog">
  <ul id="nav">
    <li><a href = "/gallery"> Back to Photo gallery</a></li>
  </ul>

  <header><h1>Belarus</h1></header>

  <p><img src="./images/belarus/1.jpg" alt = "belarus" width =900px></p>
  <p><img src="./images/belarus/2.jpg" alt = "belarus" width =900px></p>
  <p><img src="./images/belarus/3.jpg" alt = "belarus" width =900px></p>
  <p><img src="./images/belarus/4.jpg" alt = "belarus" width =900px></p>
  <p><img src="./images/belarus/5.jpg" alt = "belarus" width =900px></p>
  <p><img src="./images/belarus/6.jpg" alt = "belarus" width =900px></p>
  <p><img src="./images/belarus/7.jpg" alt = "belarus" width =900px></p>
  <p><img src="./images/belarus/8.jpg" alt = "belarus" width =900px></p>
  <p><img src="./images/belarus/9.jpg" alt = "belarus" width =900px></p>
  <p><img src="./images/belarus/10.jpg" alt = "belarus" width =900px></p>
  <p><img src="./images/belarus/11.jpg" alt = "belarus" width =900px></p>
  <p><img src="./images/belarus/12.jpg" alt = "belarus" width =900px></p>
</div>
