<article class="blag-post">
  <h1>this is blag.html</h1>

  <p>You know the first attraction I ever built when I came down south from Scotland? It was a Flea Circus, Petticoat Lane. Really quite wonderful. We had a wee trapeze, and ah, a merry-go - -a carousel - - and a seesaw. They all moved, motorized of course, but people would swear they could see the fleas. "I see the fleas, mummy! Can't you see the fleas?" Clown fleas, high wire fleas, fleas on parade... But with this place, I wanted to show them something that wasn't an illusion, something that was real, something they could see and touch. An aim not devoid of merit.<a href="#citations">[1]</a></p>

  <p>Fatback andouille pork chop jowl, rump pig kielbasa prosciutto tenderloin capicola picanha leberkas swine. Shank pastrami sausage fatback, corned beef cow porchetta strip steak. Kevin jerky chicken short loin sausage cupim, doner alcatra jowl pancetta kielbasa tri-tip. Andouille landjaeger prosciutto kielbasa leberkas ball tip. Alcatra boudin kevin, porchetta tri-tip meatloaf hamburger beef ribs tenderloin. Rump t-bone bacon meatball pork belly turkey alcatra kevin jowl kielbasa ham hock filet mignon pastrami shank leberkas. Bacon rump sirloin biltong chuck kielbasa swine jowl corned beef.<a href="#citations">[2]</a> </p>

  <p>"Dr. Grant, my dear Dr. Sattler. Welcome to Jurassic Park."<a href="#citations">[3]</a> They turn and look at the view again. It's beautiful vista, reminiscent of an African plain. A whole herd of dinosaurs crosses the plain, maybe a hundred that we see in a quick glance alone. "Ellie, they're absolutely - - they're moving in herds. They do move in herds!" "We were right!" "How did you do it?! How did you do this?!"<a href="#citations">[4]</a></p>

  <p>We can make it if we run. No, we can't. Why not? Because we are being hunted. Oh God. In the bushes straight ahead. It's all right. Like hell it is!<a href="#citations">[5]</a></p>

  <p>They go straight to the main console, where RAY ARNOLD fortyish, a chronic worrier and chain-smoker, is seated. "National Weather Service is tracking a tropical storm about seventy-five miles west of us." Hammond sighs and looks over Arnold's shoulder. "Why didn't I build in Orlando?" "I'll keep an eye on it. Maybe it'll swing south like the last one." "Ray, start the tour program." He punches a button on the console. "Hold on to your butts!"<a href="#citations">[6]</a></p>

  <p>Shoulder chuck short ribs picanha, pork belly andouille boudin bresaola beef rump tenderloin tongue kielbasa strip steak salami. Pork belly ham porchetta beef pastrami brisket frankfurter drumstick pancetta venison filet mignon sirloin. Ground round beef tongue tri-tip. Beef ribs jowl strip steak short loin sirloin beef, salami drumstick bresaola frankfurter pork alcatra capicola.<a href="#citations">[7]</a></p>

  <p>Jowl shank cupim, t-bone swine pork chop porchetta. Pork t-bone short ribs landjaeger shankle fatback rump ham hock. Pastrami swine porchetta bresaola turducken flank. Sausage picanha capicola fatback, salami bresaola boudin corned beef.<a href="#citations">[8]</a></p>

  <p>You're implying that a group composed entirely of female animals will... breed? Dr. Ian Malcolm: No, I'm, I'm simply saying that life, uh... finds a way.<a href="#citations">[9]</a></p>

  <p>A worker climbs to the top of the crate. The search lights are trained on the door. The rifleman throw the bolts on their rifles and crack their stun guns, sending arcs of current cracking through the air. The worker gets ready to grab the gate when all at once A roar from the inside the crate, and the panel flies out of his hands and smacks into him, knocking him clear off the crate. Now everything happens at once. The worker thuds to the jungle floor, the crate jerks away from the mouth of the holding pen flash, an alarm buzzer sounds "Shoot her!"<a href="#citations">[10]</a></p>

  <p>Ned looks up and sees a man get out of a taxi - Lewis Dodson, fiftyish, wearing a large straw hat and looking almost too much like an American tourist. Dodson clutches as attaché case close to him and scans the cafe furtively. Nedry laughs, shakes his head, and waves to him. "Dodgson!" Dodgson hurries over to the table. "You shouldn't use my name." "Dodgson, Dodgson! We got Dodgson here! See, nobody cares. Nice hat. What are you trying to look like, a secret agent?"<a href="#citations">[11]</a></p>

  <p>God creates dinosaurs. God destroys dinosaurs. God creates man. Man destroys God. Man creates dinosaurs. Dinosaurs eat man... woman inherits the earth.<a href="#citations">[12]</a></a></p>

  <p>Bacon ipsum dolor amet tri-tip salami leberkas sirloin. Filet mignon fatback short loin, chicken salami frankfurter ground round turkey corned beef andouille landjaeger tri-tip flank t-bone cow. Tenderloin venison porchetta meatball. Kevin boudin shank ham hock picanha tenderloin fatback bresaola meatloaf chicken sirloin chuck. Flank doner pork chop landjaeger meatloaf porchetta. Pork loin tongue filet mignon picanha chicken, swine pork chop ham hock shank jerky kielbasa.<a href="#citations">[13]</a></p>

  <footer id="citations">
    <div>
    <ol>
      <li>[1]: <a href="http://www.jurassicipsum.com/">jurassic ipsum generator</a></li>
      <li>[2]: <a href="https://baconipsum.com/">bacon ipsum</a></li>
      <li>[3]: <a href="http://www.jurassicipsum.com/">jurassic ipsum generator</a></li>
      <li>[4]: <a href="http://www.jurassicipsum.com/">jurassic ipsum generator</a></li>
      <li>[5]: <a href="http://www.jurassicipsum.com/">jurassic ipsum generator</a></li>
      <li>[6]: <a href="http://www.jurassicipsum.com/">jurassic ipsum generator</a></li>
      <li>[7]: <a href="https://baconipsum.com/">bacon ipsum</a></li>
      <li>[8]: <a href="https://baconipsum.com/">bacon ipsum</a></li>
      <li>[9]: <a href="http://www.jurassicipsum.com/">jurassic ipsum generator</a></li>
      <li>[10]: <a href="http://www.jurassicipsum.com/">jurassic ipsum generator</a></li>
      <li>[11]: <a href="http://www.jurassicipsum.com/">jurassic ipsum generator</a></li>
      <li>[12]: <a href="http://www.jurassicipsum.com/">jurassic ipsum generator</a></li>
      <li>[13]: <a href="https://baconipsum.com/">bacon ipsum</a></li>
    </ol>
  </div>
  </footer>
</article>
