<div id="blog">
  <ul id="nav">
    <li><a href="mailto:vikshab2010@hotmail.com">Write me</a></li>
    <li><a href = "/projects">My projects</a></li>
    <li><a href = "/gallery"> Photo gallery</a></li>
    <li><a href = "/about">About me</a></li>
    <li><a href = "/">Back ho homepage</a></li>
  </ul>

  <!-- <header> -->
    <img src="./images/thailand.png" alt = "thailand" width = 900px>
    <!-- <h1>Thailand... </h1></header> -->

  <!-- <h1 id="blog_name">Have you been there? if not, you should...</h1> -->
    <p>
      Ни для кого не секрет, что Таиланд славится культом уличной еды. И это заслуживает особого внимания и разговора.
      Начну с того, что кухни в привычном понимании нет почти нигде. Кому приходилось арендовать здесь жильё, знают, что «островок» с микроволновкой, электрочайником и отдельной раковиной уже считают кухней. Сначала удивляешься, что излюбленному нашими домохозяйками месту не выделяют должных квадратных метров. Но спустя очень короткое время понимаешь рациональность такого решения — еда здесь повсюду. В буквальном смысле.
    </p>
    <center><img src="./images/tai1.jpg" alt = "nice view" width = 900px>
    <img src="./images/tai2.jpg" alt = "nice view"  width = 900px>

    <p>
      Если проголодались, то стоит пройти минут 10 от дома и определенно можно что-нибудь найти. Будь то макашница с фруктами, супами, популярными блинчиками с бананами, местная семейная кафешка (таких здесь большинство) или продуктовый рынок. Более того, стоит внушительная порция вполне доступно. К примеру, фруктовые шейки чуть меньше 1$, жареный рис с креветками 2$, салат из зеленой папайи Сом Там от 1.7$, половина очищенного небольшого ананаса 0,7$. И на протяжении двух лет цены почти не меняются.
    </p>
      <img src="./images/tai3.jpg" alt = "nice view"  width = 900px>
      <img src="./images/tai4.jpg" alt = "nice view"  width = 900px>

    <p>
      Многие не решаются пробовать блюда с уличных лотков. Я тоже первый месяц смотрела на макашницы с опаской, признаюсь. Но, выбирая опрятных продавцов и соблюдая элементарные правила гигиены, ничего с вам не случится. Сколько знакомых годами здесь живут, ни у кого не слышала серьезных случаев отравления уличной едой.
      Антисептический гель продается в любом крупном супермаркете вроде Tesco Lotus и Big С. И главное, чего не следует забывать — еда здесь очень острая. Просите «no spicy», героизм здесь будет лишним на первых порах ))
    </p>
      <img src="./images/tai5.jpg" alt = "nice view"  width = 900px>

    <p>
      Теперь перейдем от правил осторожности к ассортименту. Местные макашницы специализируются на чем-то одном. Это либо отварная кукуруза с солью, вышеупомянутый салат Сом Там, супы с лапшой, небольшие шашлычки на шпажках (из филе курицы и ее субпродуктов, свиные с кусочком ананаса и перца чили и пр), рыба и курица на гриле, очищенные и нарезанные фрукты, аккуратно разложенные на лед, блинчики с бананами и сгущенкой и, конечно же, макашницы с жареными насекомыми. В Паттайе даже есть продавец Хым Крым, который уже стал кем-то сродни легенды — с ним фотографируются и его все узнают. В конце поста прикрепляю интересный видеосюжет про него, который снимали русские ребята для сайта ЗАГРАNИЦА.
      На рынках же выбор готовых блюд куда шире. Здесь есть всевозможные карри, овощи с мореподуктами, рыба на вертеле, кальмары и креветки на гриле, жареный рис и рисовая лапша, тайские сладости и многое другое. Для приготовления некоторых блюд используют такие необычные ингреиенты, как бамбук, стебли лотоса, неизвестная по вкусу и названию славяну  зелень, редкие виды баклажанов, кабачков, тамаринд, пальмовый сахар и прочие.
    </p>
      <img src="./images/tai6.jpg" alt = "nice view"  width = 900px>

    <p>
      Хочу уточнить, что питаются на улице все тайцы, это не для туристов каждый вечер разворачивается представление. Иногда при макашницах расставляют пластиковые столы, стулья и можно пообедать на месте. Но также вы всегда можете взять еду с собой. Приятно наблюдать, как тайцы собираются всей семьей и никуда не спешат. И это не праздничные или выходные дни, так проходят будни обычного народа, который живет вдоль Сиамского залива. Часто можно увидеть такие компании возле моря. Они покупают готовый ужин и располагаются на циновке, а рядом по пляжу бегают дети. Вы явно не раз слышали, что в Таиланде неторопливый и размеренный образ жизни — это очень точное определение. И прожив некоторое время в Тае, вы незаметно для себя сами растворяетесь в этом — бежать становится некуда и незачем.
    </p>
    <img src="./images/tai7.jpg" alt = "nice view"  width = 900px>
    <p>Автор статьи: Шабуня Татьяна</p>
</div>
