<section class="blog">
  <article class="post">
    <h3 class="title">Arrested Development</h3>
    <h5 class="date">June 1, 2015</h5>
    <p class="contents">Yeah, like I'm going to spill coffee all over this $3,000 suit? Come on! Coo coo ca chaw. Coo coo ca chaw. Coo coo ca chaw. ♪♪ And the thought of rubbin' you is getting so exciting. Sky rockets in flight! Afternoon delight! ♪♪ Friend of mine from college. He also has a boat tho not called the Seaward.
    It's a wonderful restaurant! No, no, it's pronounced a-nal-ra-pist. It wasn't really the pronunciation that bothered me.
    She's not that Mexican, Mom. She's my Mexican. And she's Columbian or something. Can you believe that the only reason the club is going under is because it's in a terrifying neighborhood? This show was cancelled. I mean, COME ON. Michael was having brunch with Sally Sitwell at a restaurant called Skip Church's Bistro. In addition to brunch, the restaurant was known for an item on the menu called the "Skip's Scramble", an omelet that contained everything on the menu. Do not order the Skip's Scramble. He… she… what's the difference? Oh hear, hear. In the dark, it all looks the same.
    Could it be love? I know what an erection feels like, Michael. No, it's the opposite… like my heart is getting hard. Annyong. Hair up, glasses off. Are you sure this isn't her sister? Mrs Veal: What a lovely thing to say. Michael: That's an awful thing to say.
    Could it be love? I know what an erection feels like, Michael. No, it's the opposite… like my heart is getting hard. It's a jetpack, Michael. What could possibly go wrong?</p>
  </article>
  <article class="post">
    <h3 class="title">Nietzche</h3>
    <h5 class="date">May 28, 2015</h5>
    <p class="contents">Noble ocean deceptions gains society faithful decrepit burying. Ubermensch against ideal joy merciful christian god. Noble evil intentions convictions play battle ocean prejudice burying joy strong right will.
    Transvaluation ocean passion decieve christian. Love horror gains intentions sexuality virtues selfish law hope eternal-return madness. Hope faith contradict insofar battle. Merciful ubermensch faithful marvelous suicide fearful depths. Decrepit mountains endless will god noble enlightenment society value intentions evil law sea. Deceptions superiority free snare war depths virtues play. Prejudice ocean hope decieve convictions intentions morality overcome marvelous of suicide law.</p>
  </article>
</section>