<main>
  <h1 class="title">Blog Post 1: Puppies</h1>
  <p>Puppies are awesome! YAY PUPPIES! But potty-training them <em>can</em> be difficult.</p>
  <p>My puppy's name is Bentley. He's almost 4 years old now.</p>
  <img id="bentley_popcorn" src="./images/150312_bentley_popcorn.jpg" alt="dog with popcorn">
  <p class="img_caption">Bentley demonstrating his "Leave it" trick.</p>
</main>
