<article>
  <h3>TITLE OF MAH BLOG POST Part 1</h3>
  <p>
    This is a post. Post. Post. Post.
  </p>
</article>

<article>
  <h3>TITLE OF MAH BLOG POST PART 2</h3>
  <p>
    This is a post. Post. Post. Post.
  </p>
</article>

<article>
  <h3>TITLE OF MAH BLOG POST PART 3</h3>
  <p>
    This is a post. Post. Post. Post.
  </p>
</article>
