<!DOCTYPE HTML>
  <img src="/images/adacard.jpg" alt="Go Sounders!" height="250" width="250">

  <p>
  Recently, I've been writing a series of articles for GeekWire chronicaling my ADA adventure. This has become my <em>de facto</em> blog. Check it out:<br>
  </p>

  <div class="geekwire">
    <ul>
      <li><a href="http://www.geekwire.com/2015/this-woman-codes-my-path-into-tech/">ch[0] - This woman codes</a></li>
      <li><a href="http://www.geekwire.com/2015/learning-to-code-self-acceptance-and-star-trek/">ch[1] - Self-acceptance and <em>Star Trek</em></a></li>
      <li><a href="http://www.geekwire.com/2015/the-interview-the-pressure-builds-to-get-into-ada-developers-academy/">ch[2] - The interview</a></li>
    </ul>
  </div>
