<h1>Bdog post</h1>
<section>
  <p>
  Who let the dogs out
  {Woof, woof, woof, woof}

  <br>[Verse:]
  When the party was nice, the party was bumpin' {Hey, Yippie, Yi, Yo}
  And everybody havin' a ball {Hah, ho, Yippie Yi Yo}
  Untill the fellas ": start the name callin': " {Yippie Yi Yo}
  And the girls respond to the call
  I heard a poor man shout out</br>

  <br>[Chorus:] 4 times
  Who let the dogs out {woof, woof, woof, woof}</br>

  <br>[Rap 1:]
  I see ya' little speed boat head up our coast
  She really want to skip town
  Get back cruffy, back scruffy,
  Get back u flea infested mungrel<br>
  <img class="dog_meme" src="images/dogs_out.jpg">
  <br>[Verse:]
  I'm gonna tell {Hey, Yippie, Yi, Yo}
  To any girls calling them canine {Yippie, Yi, Yo}
  Tell the dummy "Hey Man, It's part of the Party! " {Yippie Yi, Yo}
  You put a woman in front and her man behind {Yippie, Yi, Yo}
  Her bone runs out now</br>

  <br>[Chorus:]</br>

  <br>[Chant:]
  Say, A doggy is nuttin' if he don't have a bone
  All doggy hold ya' bone, all doggy hold it
  A doggy is nuttin' if he don't have a bone
  All doggy hold ya' bone, all doggy hold it</br>

  <br>[Rap 2:]
  Wait for y'all my dogs, the party is on
  I gotta get my girl I got my mind on
  Do you see the rays comin' from my eye
  What could you be friend
  That Benji man that's breakin' them down?
  Me and my white short shorts
  And I can't seek a lot, any canine will do
  I'm figurin' that's why they call me faithful
  'Cause I'm the man of the land
  When they see me they do: ah-ooooo (howl)</br>

  <br>[Chorus x5:]
  Who let the dogs out {woof, woof, woof, woof}</br>
</p>
</section>
<footer>
  <p> Lyrics to "Who Let the Dogs Out" by Baha Men</p>
</footer>
