<nav class = "menu">
      <a href="/">Home</a>
      <a href="projects">Projects</a>
      <a href="about">About</a>
</nav>
<section>
    <h2>Important Blog</h2>
  <article>
      <p>
        Important information about important blog stuff.
      </p>
  </article>
</section>

