<div class="blog">
<h3>My Blog</h3>

<article>
  <h4>Title of blog post</h4>
  <p>Stuff I want to share...</p>
</article>

<article>
  <h4>Title of a different blog post</h4>
  <p>More stuff I want to share...</p>
</article>

</div>
