<div class = "content">
  <section class = "blog">
    <article>
      <h2>Post 2</h2>
      <h3>Presented in Dino ipsum</h3>
      <p>
        <p>Proceratosaurus Shenzhousaurus Eotriceratops Rahiolisaurus Duriatitan Austroraptor Eomamenchisaurus Kakuru Hudiesaurus Paranthodon Skorpiovenator Drinker Mongolosaurus Ojoraptorsaurus Crichtonsaurus Pawpawsaurus Sauropelta Limusaurus Cetiosauriscus Nanotyrannosaurus Eocursor Platyceratops Limaysaurus Bissektipelta Limusaurus Banji Jainosaurus
      </p>
    </article>

    <article>
      <h2>Post 1</h2>
      <h3>Presented in Cheese ipsum</h3>
        <p>
          Cheese on toast airedale st. agur blue cheese. Croque monsieur camembert de normandie pepper jack cheese triangles mascarpone fromage smelly cheese caerphilly. Manchego ricotta cheese on toast feta stinking bishop hard cheese ricotta halloumi. Bocconcini.
        </p>
    </article>

  </section>
</div>
