  <div class="travel-journal">

    <h2> My Travel List </h2>

    <div class="netherlands-section">
      <h3> Netherlands </h3>
    <img class="country-photo" src="./images/fifth.JPG" alt="netherlands-photo">

  </div>

  <div class="brazil-section">
      <h3> Brazil </h3>
    <img class="country-photo" src="./images/fourth.JPG" alt="brazil-photo">

  </div>

  <div class="turkey-section">
      <h3> Turkey </h3>
    <img class="country-photo" src="./images/turkey.JPG" alt="turkey-photo">

</div>

  <div class="brazil-section">
      <h3> Mongolia </h3>
    <img class ="country-photo"src="./images/mongolia.JPG" alt="mongolia-photo">
  
</div>

  </div>

</body>
</html>
