<nav class = "menu">
      <a href="/">Home</a>
      <a href="projects">Projects</a>
      <a href="about">About</a>
</nav>
<section>
    <h2>Important Blog</h2>
  <article>
      <p>
        Important information about important blog stuff. Bloggity blog blog blogger bloggggagkgjsdkhsl;hjldsfjglkgjjgkaljgldsgjdajgdfsjorem ipsum dolor sit amet, et felis eu morbi. In sociosqu natoque, odio cum iusto eu justo, natoque vivamus eros fames donec, cras cursus pellentesque ullamcorper convallis ut, tellus wisi arcu vestibulum. Arcu at ultrices dui maecenas pede, pretium sit lacus leo, pellentesque massa tincidunt. Sit imperdiet elit scelerisque. Porta nec magna nibh diam, augue neque tincidunt sed congue. Sit convallis pretium praesent morbi eu, donec nec nunc phasellus eget aenean diam, ut cras, nisl sed praesent vestibulum a aliquet, ligula leo. Fusce semper turpis wisi, id quam et orci sodales sed in. Vel ante vel rutrum molestie, blandit sed, diam in tempor, velit vitae lectus tincidunt sit pellentesque, praesent diam. Aenean ligula eget sollicitudin vel metus, sodales a amet diam, morbi velit magna rhoncus id, phasellus pellentesque condimentum turpis vitae ut, donec sociis in odio. A ullamcorper mi ac lectus. Cursus donec ante lorem, augue amet, at montes malesuada sed quis, netus vitae sapien faucibus in. Turpis nullam id condimentum sed augue nunc, urna vel adipisci nibh tellus, faucibus pede, nunc aliquet, inceptos consequat pellentesque orci egestas tellus donec.
      </p>
  </article>
</section>

