<p>
  Read about my Week 2 experience on my personal blog:<br> <a href="http://misshellymac.com/ada-week-2-retrospective/">MisShellyMac.com</a>  <---Click Here!
</p>

<p>
  Read about my Week 1 experience on my personal blog:<br> <a href="http://misshellymac.com/ada_week_1_retrospective">MisShellyMac.com</a>  <---Click Here!
</p>

<p>
  Or click on the pic of my adorable dog Cooper!<br>
  <a href="http://misshellymac.com/ada_week_1_retrospective"> <img border="0" alt = "My Dog Cooper" src="images/cooper.jpg" width = "200" height="200"><br></a>
</p>


<p>
  Here's a funny picture just because:<br>
  <img src="images/ha.jpg" alt= "ha">
</p>
