<head>
  <link rel="stylesheet" type="text/css" href="styling.css"/>
</head>


<h1>Bdog post</h1>

<p>
WoofRawr!
This is a fake blog post!
<img src="images/doxie.jpg">
<p> Doxens are awesome..
but big dogs are awe some more.
Like this one:</p>
<img src="images/scooby.jpg">
