<div id="blog">
  <ul id="nav">
    <li><a href = "/gallery"> Back to Photo gallery</a></li>
  </ul>

  <header><h1>California</h1></header>

    <p><img src="./images/california/1.jpg" alt = "california" width =900px></p>
    <p><img src="./images/california/2.jpg" alt = "california" width =900px></p>
    <p><img src="./images/california/3.jpg" alt = "california" width =900px></p>
    <p><img src="./images/california/4.jpg" alt = "california" width =900px></p>
    <p><img src="./images/california/5.jpg" alt = "california" width =900px></p>
    <p><img src="./images/california/6.jpg" alt = "california" width =900px></p>
    <p><img src="./images/california/7.jpg" alt = "california" width =900px></p>
    <p><img src="./images/california/8.jpg" alt = "california" width =900px></p>
    <p><img src="./images/california/9.jpg" alt = "california" width =900px></p>
    <p><img src="./images/california/10.jpg" alt = "california" width =900px></p>
    <p><img src="./images/california/11.jpg" alt = "california" width =900px></p>
    <p><img src="./images/california/12.jpg" alt = "california" width =900px></p>
    <p><img src="./images/california/13.jpg" alt = "california" width =900px></p>
    <p><img src="./images/california/14.jpg" alt = "california" width =900px></p>
    <p><img src="./images/california/15.jpg" alt = "california" width =900px></p>
    <p><img src="./images/california/16.jpg" alt = "california" width =900px></p>
    <p><img src="./images/california/17.jpg" alt = "california" width =900px></p>
    <p><img src="./images/california/18.jpg" alt = "california" width =900px></p>
    <p><img src="./images/california/19.jpg" alt = "california" width =900px></p>
    <p><img src="./images/california/20.jpg" alt = "california" width =900px></p>
    <p><img src="./images/california/21.jpg" alt = "california" width =900px></p>
    <p><img src="./images/california/22.jpg" alt = "california" width =900px></p>
    <p><img src="./images/california/23.jpg" alt = "california" width =900px></p>
    <p><img src="./images/california/24.jpg" alt = "california" width =900px></p>
    <p><img src="./images/california/25.jpg" alt = "california" width =900px></p>
</div>
