<div id="blog">
  <ul id="nav">
    <li><a href = "/gallery"> Back to Photo gallery</a></li>
  </ul>

  <header><h1>Canada</h1></header>

      <p><img src="./images/canada/1.jpg" alt = "canada" width = 900px></p>
      <p><img src="./images/canada/2.jpg" alt = "canada" width = 900px></p>
      <p><img src="./images/canada/3.jpg" alt = "canada" width = 900px></p>
      <p><img src="./images/canada/4.jpg" alt = "canada" width = 900px></p>
      <p><img src="./images/canada/5.jpg" alt = "canada" width = 900px></p>
      <p><img src="./images/canada/6.jpg" alt = "canada" width = 900px></p>
</div>
