
  <h2>About Small-Batch Coffee Farmers in Columbia</h2>
<!-- <div class="center"> -->
  <ul style="list-style-type:none" class="display_img_inline">
    <li><img class="center" src="images/beanonplant.jpg"><p>This is an arabica coffee plant</p></li>
    <li><img class="center" src="images/grinder.jpg" ><p>This is how they get the outer red shell off of the bean</p></li>
    <li><img class="center" src="images/freshbean.jpg"><p>This is a bean out of it's shell</p></li>
    <li><img class="center" src="images/drying.jpg"><p>They dry the bean for at least a month</p></li>
    <li><img class="center" src="images/afterdrying.jpg"><p>This is the bean free from it's second shell</p></li>
    <li><img class="center" src="images/roasting.jpg"><p>They roast the beans for 40mins</p></li>
    <li><img class="center" src="images/grinding.jpg"><p>They grind it by hand</p></li>
    <li><img class="center" src="images/finished.jpg"><p>The finished product</p></li>

  </ul>
<!--   </div> -->
