<section id="contact">
  <h1>Pick your favorite flavor:</h2>

  <div class="wrapper">
    <h3 class="copper-links">
      <a id="eggplant" href="mailto:madscientistforhire@gmail.com" title="send me an email!">
        Eggplant Email</a>
      <a id="guava" href="https://github.com/drvonnjerryxlii" title="check out my code on github.">
        Guava GitHub</a>
      <a id="lychee" href="https://www.linkedin.com/in/jerisommers" title="review my mad science history and projects.">
        Lychee LinkedIn</a>
    </h3>
    <h3 class="copper-links">
      <a id="banana" href="tel:1-800-4-MAD-SCI" title="leave me a voicemail.">
        Banana Phone</a>
      <a id="chocolate" href="https://twitter.com/drvonnjerryxlii" title="tweet me @DrVonnJerryXLII.">
        Chocolate</a>
      <a id="useless-form" href="/form" title="play with this form that doesn't work yet!">
        Useless Form</a>
    </h3>

    <img src="images/drvonnjerryxlii.jpg" alt="A picture of Dr. Vonn Jerry XLII atop her trusty steed, a bicycle. She holds a sign that reads 'Please support clean air.'" title="A picture of Dr. Vonn Jerry XLII atop her trusty steed, a bicycle. She holds a sign that reads 'Please support clean air.'" height="200" width="200" />
  </div>
</section>
