  <nav class = "menu">
        <a href="/">Home</a>
        <a href="projects">Projects</a>
        <a href="blog">Blog</a>
        <a href="about">About</a>
    </nav>
    <h1><%= @contact %></h1>
    <section>
      <ul>
        <li><a href="mailto:carjug@gmail.com">email</a></li>
        <li>p. (801) --- ----</li>
      </ul>
    </section>
