<div class = "content">
  <section class = "contact">
    <h2>Get in touch</h2>
    <p>Feel free to connect with me in any of the following ways.</p>
    <a href = "https://github.com/Brennaleker">
    <img src = "images/git.png" alt = "git hub octocat"></a>
    <a href = "https://twitter.com/Brennarama">
    <img src = "images/twitter.png" alt = "twitter bird"></a>
    <a href = "https://www.linkedin.com/in/brennaleker">
    <img src = "images/linkedin.png" alt = "briefcase"></a>
    <a href = "mailto:brennaleker@gmail.com"><img src = "images/mail.png" alt = "paper airplane"></a>
  </section>
</div>
