  <nav class = "menu">
        <a href="/">Home</a>
        <a href="projects">Projects</a>
        <a href="blog">Blog</a>
        <a href="about">About</a>
    </nav>
    <section>
      <ul>
        <li><a href="mailto:carjug@gmail.com">email</a></li>
        <li>p. (801) --- ----</li>
      </ul>
    </section>
  <footer>
      <p>
        *If you own any of the images I use, rest assured I'm not making any money off them.
    </p>
  </footer>
