<!-- props to surjithctly for the drop-down contact info -->
<!-- http://codepen.io/surjithctly/pen/pLDwe -->


<div id="contact">

  <h4><span>email</span> &verbar; <a href="mailto:amira.dhaile@gmail.com">amira.dhaile@gmail.com</a></h4>
  <ul>
    <li>
      <a target="_blank" href="https://www.twitter.com/amirahaile">twitter</a>
    </li>
    <li>
      <a target="_blank" href="https://www.github.com/amirahaile">github</a>
    </li>
    <li>
      <a target="_blank" href="https://www.linkedin.com/in/amirahaile">linkedin</a>
    </li>
    <li>
      <a target="_blank" href="https://www.amirahaile.tumblr.com">tumblr</a>
    </li>
  </ul>
</div>
