<div class="main_body">
  <h1>Lila Garcia</h1>

<div id="contacts">
  <a href="mailto:lilagrc@gmail.com">
    <img src="images/email.png" alt="Email">
  </a>

  <a href="https://twitter.com/lelsg">
    <img src="images/twitter.png" alt="Twitter">
  </a>

  <a href="https://github.com/lilagrc">
    <img src="images/github_alt.png" alt="Git Hub">
  </a>

  <a href="https://www.linkedin.com/in/lilagarcia">
    <img src="images/linkedin.png" alt="Git Hub">
  </a>

</div>

</div>


