<h1>CONTACT INFO</h1>


<div class="contact_info">
  <h3>Shanna Chau</h3>

  <p>shannachau@gmail.com</p>
  <p>
    <a href="https://twitter.com/shannachau">Twitter</a>
  </p>
  <p>
    <a href="https://github.com/shannachau">GitHub</a>
  </p>
  <p>
    <a href="https://www.linkedin.com/pub/shanna-chau/74/aa4/144">LinkedIn</a>
  </p>
</div>
