<div id="food">
<img src="./images/ahi_salad.jpg" alt="ahi tuna salad">
<img src="./images/chicken_salad.jpg" alt="crockpot chicken salad">
<img src="./images/salmon_salad.jpg" alt="salmon salad">
</div>
