<footer>
  <div class="foot-excep">
  <nav>
  <a href="/">Index</a> |
  <a href="home">Home</a> |
  <a href="projects">Projects </a> |
  <a href="about_me">Me</a> |
  <a href="espresso">Espresso</a> |
  <a href="blog">Blog</a> |
  </nav>
  <br>
  <h4> Copyleft: Freedom 1 </h4>
  <h4>It is currently <%= Time.now %> PST. </h4>
   </div>
</footer>