<footer>
  <section class="copper-links">
    <nav class="header-footer">
      <h2>Dr. Vonn Jerry XLII</h2>

      <h3>
        <a href="#top" title="jump to the top of the page.">top</a> -
        <a href="mailto:drvonnjerryxlii@gmail.com" title="send me a message!">email</a> -
        <a href="https://github.com/drvonnjerryxlii" title="check out my code.">github</a> -
        <a href="https://www.linkedin.com/in/jerisommers" title="review my mad science history and projects.">linkedin</a> -
        <a href="https://twitter.com/drvonnjerryxlii" title="tweet me @DrVonnJerryXLII!">twitter</a>
      </h3>

      <h1>mad scientist for hire</h1>
    </nav>
  </section>

  <div class="wrapper">
    <div id="license">
      © <%= Time.now.year %> <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" height="31px" width="88px" /></a><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Dr. Vonn Jerry XLII, Mad Scientist For Hire</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://mad-scientist-for-hire.herokuapp.com" property="cc:attributionName" rel="cc:attributionURL">https://mad-scientist-for-hire.herokuapp.com</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
    </div>
  </div>
</footer>
