<footer>
    <a href="https://twitter.com/shannachau">Twitter</a>
    <a href="https://github.com/shannachau">GitHub</a>
    <a href="https://www.linkedin.com/pub/shanna-chau/74/aa4/144">LinkedIn</a>
  <div>
    <p id="copyright">
      Copyright © <%= Time.now.year %> ShannaChau
    </p>
  </div>
</footer>
