<footer>
  <p>(ɔ) Ashley Watkins, <%= Time.now.year %>. This website was created in June 2015 as part of a project during my time at <a href=http://adadevelopersacademy.org/>Ada Developers Academy</a>.</p>
</footer>
