<footer>
  Blog posts by Loraine Kanervisto are licensed under a <a href = "https://creativecommons.org/licenses/by/4.0/">Creative Commons attribution 4.0 International License</a>, <%= Time.now.year %>
</footer>
