<footer>
	<div id="copyright">&copy; Kari Lonczak <%= DateTime.now.year %></div>
	<ul>
		<a href=#>Subscribe</a> |
		<a href=#>Contact</a> |
		<a href=#>LinkedIn</a> |
		<a href=#>Instagram</a>
	</ul>
	<div class="clear"></div>
</footer>