<footer>
  <div class="footer_links">
    <!-- <a href="https://www.linkedin.com/in/acmwang"><img src="images/icons/linkedin12.png" width=15 alt="linkedin"></a>   
    <a href="https://twitter.com/acmei"><img src="images/icons/twitter1.png" width=15 alt="twitter"></a>   
    <a href="https://github.com/acmei"><img src="images/icons/github10.png" width=15 alt="git hub"></a> -->
  </div>
  © <% time = Time.new%><%= time.year %> Anita Wang
</footer>