<footer>
  <p class="footer-text">
    © <%= Time.now.year %> Brandi Wilson
  </p>
  <p class="footer-text">
    Background courtesy of <a href="http://subtlepatterns.com/" title="SubtlePatterns">SubtlePatterns</a>.
  </p>
</footer>
