<div class="footer">
  <table border="0">
    <tr>
      <td><img border="0" alt = "Mad Cooper" src="images/coop.jpg" width = "80" height="80"> </td>
      <td><p class="footer">  Posted by: Michelle McCarthy<br>
        Contact me at: <a href="mailto:michellemccarthy@hotmail.com">michellemccarthy@hotmail.com</a><br>
       Don't steal from this website: it's not nice, Cooper will find you!</p></td>
  </table>
</div>
