<footer>
  <nav>
  <a href="/">Home</a> |
  <a href="current_projects">Projects </a> |
  <a href="about_me">Me</a> |
  <a href="espresso">Espresso</a> |
  <a href="blog">Blog</a> |
  </nav>
  <br>
  <h4> Copyleft: Freedom 1 <h4>
    <br>
   <h4>It is currently <%= Time.now %> </h4>
</footer>