<footer>
  <small><%= Time.new.year %> (ɔ) These projects were completed as part of the <a target="_blank" href="http://www.adadevelopersacademy.org">Ada Developers Academy</a> program.</small>
</footer>
