<header>
  <h1>404 bottles of beer on the wall...</h1>
</header>

<p>Bottles. Boooootleeees. Did you know that semantic saturation causes words to
lose meaning once you've heard them repeated too many times? Weird huh?
Am I spelling "bottles" right? What is a bottle, even?</p>
