<div id="gallery">
  <ul id="nav">
    <li><a href="mailto:vikshab2010@hotmail.com">Write me</a></li>
    <li><a href = "/projects">My projects</a></li>
    <li><a href = "/blog">My blog</a></li>
    <li><a href = "/about">About me</a></li>
    <li><a href = "/">Back ho homepage</a></li>
  </ul>

  <header><h1>Photo Gallery</h1></header>
  <div id="gallery_board">
    <table id="board">
      <tr>
        <td id="board_td"><ul id="link"><li><a href="/thailand"><p id="board_click">Thailand</li></ul></a><br/><br/><br/><br/>
        <td id="board_td"><ul id="link"><li><a href="/california"><p id="board_click">California</li></ul></a><br/><br/><br/><br/>
      </tr>

      <tr>
        <td id="board_td"><ul id="link"><li><a href="/belarus"><p id="board_click">Belarus</li></ul></a><br/><br/><br/><br/>
        <td id="board_td"><ul id="link"><li><a href="/washington"><p id="board_click">Washington</li></ul></a><br/><br/><br/><br/>
      </tr>

      <tr>
        <td id="board_td"><ul id="link"><li><a href="/new_york"><p id="board_click">New York</li></ul></a><br/><br/><br/><br/>
        <td id="board_td"><ul id="link"><li><a href="/canada"><p id="board_click">Canada</li></ul></a><br/><br/><br/><br/>
    </table>
  </div>
</div>
