<header>
  <h1>Elsa's Propaganda</h1>
  <nav>
    <a href="/">Home</a>
    &vert;
    <a href="/propaganda">Propaganda</a>
    &vert;
    <a href="/about">About</a>
    &vert;
    <a href="/projects">Projects</a>
    &vert;
    <a href="/blog">Blog</a>
    &vert;
    <a href="/ultimate">Ultimate</a>
  </nav>
</header>
