<header class="copper-links">
  <nav class="header-footer">
    <h1 id="top">Dr. Vonn Jerry XLII</h1>

    <h3>
      <a href="/" title="go back to the home page, back where it all started.">home</a> -
      <a href="/about" title="learn more about my glorious, insane self.">about</a> -
      <a href="/blag" title="read about some of my recent doings.">blag</a> -
      <a href="/contact" title="get ahold of me.">contact</a> -
      <a href="/projects" title="what terrible projects will I think of next?">projects</a>
    </h3>

    <h2>mad scientist for hire</h1>
  </nav>
</header>
