<!DOCTYPE HTML>

<header>
  <a href="https://www.linkedin.com/pub/sally-a-moore-ph-d/19/667/54"><img src="/images/In-White-34px-TM.png" alt="LinkedIn" height="20"></a>
  <a href="https://twitter.com/sallysuru"><img src="/images/Twitter_logo_white.png" alt="Twitter" height="20"></a>
  <a href="https://github.com/sallyamoore"><img src="/images/GitHub-Mark-Light-32px.png" alt="Github" height="22"></a>
  <h1><%= @page_title || "sally a. moore, ph.d." %></h1>

  <nav class="internal_nav">
    <a  href="/">HOME</a>
    <a  href="/about">ABOUT ME</a>
    <a  href="/blog">BLOG</a>
    <a  href="/projects">PROJECTS</a>
    <a  href="/pubs">PUBLICATIONS IN PSYCH</a>
  </nav>
</header>
