<!DOCTYPE HTML>

<header>
  <nav class="internal_nav">
    <a  href="/">HOME</a>
    <a  href="/about">ABOUT ME</a>
    <a  href="/blog">BLOG</a>
    <a  href="/projects">PROJECTS</a>
    <a  href="/pubs">PUBLICATIONS IN PSYCH</a>
  </nav>
</header>
