<header>
  <h1>Brandi Wilson</h1>
  <h2><%= @title %></h2>

  <nav>
    <a href="/home" title="Home">Home</a>
    <a href="/about" title="About">About</a>
    <a href="/projects" title="Projects">Projects</a>
    <a href="/blog" title="Blog">Blog</a>
  </nav>
</header>
