<header>
  <nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About the Author</a></li>
    <li><a href="/projects">Class Projects</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/food">Foodie</a></li>
  </ul>
  </nav>
  <div id="social">
  <a href="https://www.linkedin.com/in/eliagrenier" target="_blank"><img src="./images/linkedinwhite.png" alt="elia linked in"></a>
  <a href="https://www.twitter.com/Elia_MG" target="_blank"><img src="./images/twitterwhite.png" alt="elia twitter"></a>
  <a href="https://www.github.com/eliamg" target="_blank"><img src="./images/githubwhite.png" alt="elia github"></a>
  </div>
  <h1><%= @page_title || "Elia Grenier" %></h1>
  <h3><%= @subheader || nil %></h3>
</header>
