<header>
  <nav class="nav_bar">
    <a href="/">Home Page</a>
    <a href="about">About Page</a>
    <a href="projects">Projects</a>
    <a href="blog">Blog</a>
    <a href="contact">Contact</a>
  </nav>
</header>
