<header class="site_header">
  <h1><em>Loraine Kanervisto</em></h1>
  <nav class = "navi">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="about">About Me</a></li>
      <li><a href="programming">Programming</a></li>
      <li><a href="writing">Writing</a></li>
    </ul>
  </nav>
</header>
