<header>
  <h1>Lindsey Reno</h1>
  <nav>
    <a href="/">Home</a>
    <!-- <a href="<%= @title %>"><%= @title.capitalize %></a> -->
    <a href="about">About</a>
    <a href="projects">Projects</a>
    <a href="blog">Blog</a>
    <a href="travels">Travels</a>
  </nav>
</header>
