<p>
  Welcome to my little slice of cyberspace within this online digital world...my name is Michelle.<br>
  Just another nerd on the interwebz trying to create programs that actually work.<br>
</p>

<img src="images/error.png">

<p>
  By the way, this is me: Go Hawks!
</p>
  <img src="images/seahawks.jpg" width = "500" height="500" alt= Michelle>
<br>
