<section id= "sidebar">
  <aside>I'm Elia. I got a master's degree in Higher Education
  and a year later took a leap to become a developer so my job
  would always be to learn. I'm part of Cohort[2] for <a href='http://adadevelopersacademy.org/' target="_blank">Ada Developers Academy</a>.
  Go Unigoats!!</aside>
</section>
<section id= "sunset">
  <img src='./images/seattle.jpg' alt="Seattle sunset">
</section>
