<section class="home-section">

  <h2 class="home-h2"> Welcome to My Webpage!</h2>

  <IMG class="home-page-festival-photo" src="./images/festival.JPG" alt="festival">

  <p>I'm the one in the red shirt. Feel free to browse my site if you wish.</p>
  <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
  <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
  <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
  <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>

</section>

</body>
</html>
