<div id="home">
  <ul id="nav">
    <li><a href="mailto:vikshab2010@hotmail.com">Write me</a></li>
    <li><a href = "/projects">My projects</a></li>
    <li><a href = "/blog">My blog</a></li>
    <li><a href = "/gallery"> Photo gallery</a></li>
    <li><a href = "/about"> About me</a></li>
  </ul>

  <header><h1>Victoria Shabunia</h1></header>
  <center><img src ="./images/home2.png" alt = "home page" width = 800px, height=700px>
</div>
