
	<!-- <h2>THOUGHTS</h2> -->
	<article id="first-article">
		<h3>People Should Not Stop At The End Of Escalators</h3>
		<p>Pinterest heirloom taxidermy, banjo art party beard letterpress Brooklyn health goth keffiyeh umami jean 
		shorts Helvetica. Meh heirloom biodiesel listicle four dollar toast. Retro authentic you probably haven't 
		heard of them tofu ennui 90's. Wes Anderson four dollar toast viral, cardigan plaid occupy lo-fi banjo Odd Future 
		Blue Bottle. Meditation 90's Neutra pug chillwave kogi, four dollar toast vegan McSweeney's crucifix yr normcore 
		dreamcatcher. Four dollar toast next level ugh, Austin Blue Bottle Brooklyn viral chia 3 wolf moon before they 
		sold out master cleanse PBR&amp;B Kickstarter deep v messenger bag. Meggings bitters Carles next level.</p>
		<p>Typewriter asymmetrical slow-carb cornhole, Kickstarter biodiesel Marfa Odd Future actually meggings mlkshk 
		before they sold out try-hard Echo Park mumblecore. Pork belly banh mi keffiyeh seitan XOXO, single-origin coffee 
		cliche cardigan occupy readymade meh chambray. Pop-up synth shabby chic, locavore Vice banh mi 8-bit cornhole 
		cold-pressed seitan four loko kitsch food truck narwhal. Pour-over 3 wolf moon kitsch cliche single-origin coffee 
		mlkshk. Crucifix keffiyeh seitan next level literally. Normcore typewriter authentic church-key pug post-ironic, 
		freegan narwhal. Shabby chic single-origin coffee taxidermy, heirloom sartorial tofu Neutra pop-up gentrify four loko PBR.</p>
		<p>Selvage seitan crucifix Pitchfork pour-over, cornhole pickled pork belly. Raw denim migas quinoa art party, 
		deep v lo-fi plaid irony semiotics dreamcatcher beard selvage Helvetica cardigan. 3 wolf moon Echo Park disrupt, 
		stumptown semiotics biodiesel synth direct trade mlkshk you probably haven't heard of them whatever blog PBR Tumblr. 
		Chia forage High Life bespoke, roof party Helvetica cliche gluten-free craft beer. Literally gastropub DIY yr VHS 
		Neutra Carles, sriracha Banksy. Blog try-hard Truffaut, wayfarers Schlitz biodiesel hoodie vinyl dreamcatcher Tumblr 
		wolf ugh viral meditation. Freegan Odd Future distillery literally Godard kitsch craft beer, mustache tousled McSweeney's 
		occupy stumptown before they sold out Pitchfork.</p>
	</article>

	<article>
		<h3>Renter's Insurance == Clutch</h3>
		<p>Twee tote bag chambray Wes Anderson. Hashtag stumptown fingerstache, irony art party health 
		goth ennui distillery cold-pressed aesthetic polaroid wayfarers craft beer disrupt bicycle rights. 
		Blog master cleanse lomo listicle mustache, kale chips narwhal banjo actually you probably haven't 
		heard of them 3 wolf moon tattooed church-key.</p>
		<p>Photo booth heirloom retro, roof party asymmetrical put a bird on it cliche. Heirloom four dollar 
		toast single-origin coffee trust fund McSweeney's. Keffiyeh actually kale chips chillwave, pop-up chia chambray 
		small batch bicycle rights occupy. Chia skateboard Intelligentsia mustache narwhal. High Life flexitarian shabby chic, 
		forage Schlitz tousled VHS church-key occupy hella beard keytar. Brunch High Life small batch, lo-fi keffiyeh lomo 
		crucifix migas master cleanse leggings trust fund fashion axe. Meditation blog narwhal, mlkshk Etsy plaid listicle 
		Portland McSweeney's kogi.</p>
		<p>Distillery actually tattooed, locavore Carles Vice leggings readymade Portland. Art party gastropub gentrify, 
		banh mi small batch plaid fashion axe mlkshk heirloom quinoa vinyl hella. Cliche hashtag normcore selfies. Gastropub 
		Williamsburg pork belly tofu crucifix iPhone quinoa drinking vinegar raw denim. Mlkshk bitters pour-over, brunch fashion 
		axe fap messenger bag ugh next level quinoa umami slow-carb mustache McSweeney's. Drinking vinegar 90's organic lo-fi, 
		meh Neutra banjo wolf Thundercats master cleanse lomo. Pickled vinyl Schlitz, vegan polaroid forage Godard Etsy keytar 
		readymade PBR&amp;B VHS.</p>
		<p>Fixie Schlitz Echo Park distillery messenger bag. Scenester selfies organic tattooed fixie, cred slow-carb. 
		Photo booth chillwave cold-pressed, banjo hoodie selfies heirloom twee Portland polaroid chambray XOXO Banksy. 
		Blog pour-over Godard whatever chillwave photo booth cray, selvage Neutra. Vegan narwhal Shoreditch, cred Odd Future 
		taxidermy kogi yr hoodie disrupt Blue Bottle. Viral banjo Pitchfork master cleanse Austin, Odd Future vegan direct 
		trade selvage single-origin coffee before they sold out bitters. Fashion axe post-ironic lumbersexual farm-to-table, 
		PBR deep v whatever.</p>
	</article>

	<article>
		<h3>Things Are Better in Odd Numbers</h3>
		<p>Twee tote bag chambray Wes Anderson. Hashtag stumptown fingerstache, irony art party health 
		goth ennui distillery cold-pressed aesthetic polaroid wayfarers craft beer disrupt bicycle rights. 
		Blog master cleanse lomo listicle mustache, kale chips narwhal banjo actually you probably haven't 
		heard of them 3 wolf moon tattooed church-key.</p>
		<p>Biodiesel Pitchfork listicle selvage typewriter, forage cardigan you probably haven't heard of 
		them photo booth ethical messenger bag Williamsburg wolf Truffaut. Wolf Marfa photo booth dreamcatcher, 
		McSweeney's squid lumbersexual. Wolf actually swag, Portland farm-to-table pork belly tattooed bitters. 
		Godard bitters crucifix, butcher Portland narwhal messenger bag retro deep v migas +1.</p>
		<p>Portland Austin tattooed, Intelligentsia butcher mlkshk Echo Park four loko. Messenger bag fashion axe 
		cray listicle, artisan authentic sartorial polaroid cardigan Wes Anderson brunch Williamsburg. Artisan migas 
		seitan wolf, kogi organic Shoreditch four loko High Life lumbersexual taxidermy next level Bushwick vinyl swag. 
		Ugh fanny pack freegan Etsy Godard. Odd Future DIY Bushwick plaid, trust fund Williamsburg wolf Brooklyn small 
		batch pop-up seitan church-key meh irony. Chia American Apparel roof party literally PBR. Aesthetic beard jean 
		shorts roof party ugh letterpress.</p>
		<p>Kitsch Williamsburg PBR, fap Austin biodiesel Tumblr listicle Truffaut narwhal paleo vinyl kogi. Occupy 
		Pitchfork irony flannel pour-over bespoke. Ugh whatever Thundercats flexitarian Vice, pork belly Kickstarter. 
		YOLO iPhone distillery readymade, fap cold-pressed photo booth lo-fi irony keytar. Actually before they 
		sold out trust fund flexitarian occupy shabby chic. Sriracha mixtape you probably haven't heard of them 
		kale chips fingerstache shabby chic, chillwave viral Carles High Life normcore seitan four loko. Before they 
		sold out VHS pug messenger bag paleo YOLO.</p>
	</article>

	<article>
		<h3>Care-E != Car-E</h3>
		<p>Biodiesel Pitchfork listicle selvage typewriter, forage cardigan you probably haven't heard of 
		them photo booth ethical messenger bag Williamsburg wolf Truffaut. Wolf Marfa photo booth dreamcatcher, 
		McSweeney's squid lumbersexual. Wolf actually swag, Portland farm-to-table pork belly tattooed bitters. 
		Godard bitters crucifix, butcher Portland narwhal messenger bag retro deep v migas +1.</p>
		<p>Artisan mumblecore hoodie irony letterpress photo booth pug. Neutra DIY health goth, jean shorts direct 
		trade kogi XOXO Banksy Marfa Pinterest. Four loko banh mi kogi iPhone. Cold-pressed before they sold out 
		polaroid wolf pork belly, street art DIY banjo. Schlitz raw denim cliche wayfarers fap. Migas craft beer 
		listicle fap cardigan Kickstarter. Fashion axe iPhone sriracha, keffiyeh you probably haven't heard of them 
		pork belly swag Tumblr.</p>
		<p>Slow-carb leggings tattooed kale chips, Thundercats Intelligentsia shabby chic raw denim artisan iPhone 
		tofu messenger bag. Tumblr try-hard pork belly, pour-over selvage tattooed vinyl scenester keytar banh mi 
		shabby chic you probably haven't heard of them. Drinking vinegar scenester taxidermy try-hard ennui. Cray 
		vinyl meditation master cleanse, sartorial 3 wolf moon Bushwick brunch Etsy readymade. Readymade leggings 
		lumbersexual, try-hard plaid squid hoodie. Sriracha deep v distillery, Intelligentsia stumptown High Life Marfa 
		hoodie. Tilde Neutra Godard, leggings keffiyeh sustainable you probably haven't heard of them wolf pop-up banjo 
		normcore mumblecore.</p>
	</article>

	<article>
		<h3>Curling Irons Without The Clamp > Curling Irons With The Clamp</h3>
		<p>Twee tote bag chambray Wes Anderson. Hashtag stumptown fingerstache, irony art party health 
		goth ennui distillery cold-pressed aesthetic polaroid wayfarers craft beer disrupt bicycle rights. 
		Blog master cleanse lomo listicle mustache, kale chips narwhal banjo actually you probably haven't 
		heard of them 3 wolf moon tattooed church-key.</p>
		<p>Tattooed single-origin coffee four loko Pitchfork meditation. Readymade tousled kale chips Williamsburg. 
		Tattooed kogi cronut, lo-fi sartorial single-origin coffee cred slow-carb distillery synth next level ennui. 
		Wolf street art Echo Park, ennui Neutra drinking vinegar master cleanse mustache blog post-ironic kale chips 
		ethical semiotics aesthetic. Art party food truck sriracha McSweeney's. Normcore photo booth 3 wolf moon, 
		PBR roof party Truffaut kitsch paleo cold-pressed crucifix pour-over. Bushwick PBR&amp;B actually sriracha.</p>
		<p>Four loko biodiesel deep v, McSweeney's lo-fi paleo Marfa. Ennui Echo Park Blue Bottle listicle, viral banjo 
		chia bespoke whatever semiotics sriracha try-hard authentic yr cred. Kale chips Helvetica hashtag Portland, 
		chia ethical paleo. Portland ethical Kickstarter, synth meggings butcher cronut vegan put a bird on it kogi 
		Intelligentsia. Fap sustainable sartorial 8-bit flexitarian four dollar toast. You probably haven't heard of 
		them post-ironic master cleanse scenester keytar artisan squid, Brooklyn sartorial small batch yr actually. 
		Crucifix High Life deep v, single-origin coffee retro fingerstache selfies Blue Bottle Kickstarter.</p>
	</article>

	<article>
		<h3>Words Mean Things</h3>
		<p>Biodiesel Pitchfork listicle selvage typewriter, forage cardigan you probably haven't heard of 
		them photo booth ethical messenger bag Williamsburg wolf Truffaut. Wolf Marfa photo booth dreamcatcher, 
		McSweeney's squid lumbersexual. Wolf actually swag, Portland farm-to-table pork belly tattooed bitters. 
		Godard bitters crucifix, butcher Portland narwhal messenger bag retro deep v migas +1.</p>
		<p>Kale chips literally put a bird on it 8-bit. Selvage art party Portland keffiyeh, readymade wayfarers 
		Banksy. Locavore tilde Marfa heirloom butcher, High Life roof party sriracha. Fap sustainable Marfa locavore. 
		Truffaut next level roof party VHS quinoa. Photo booth Kickstarter pug American Apparel, Banksy brunch hoodie 
		pour-over Brooklyn kitsch yr. Semiotics cred keytar cray 3 wolf moon next level 90's skateboard.</p>
		<p>Pork belly banh mi plaid fap, pickled High Life taxidermy single-origin coffee lumbersexual paleo Blue 
		Bottle church-key. Bicycle rights butcher PBR&amp;B yr iPhone. Shoreditch taxidermy shabby chic, beard jean shorts 
		meggings banh mi deep v tote bag flannel XOXO master cleanse cray High Life meditation. Cornhole food truck art 
		party put a bird on it. Post-ironic 3 wolf moon Vice hashtag Carles, locavore iPhone actually freegan viral 
		Thundercats tote bag Pinterest. Austin cold-pressed quinoa ugh roof party ennui. Kogi dreamcatcher flexitarian irony fap.</p>
		<p>Banh mi salvia actually gastropub cronut Blue Bottle. Polaroid Truffaut ethical cornhole keytar. Synth kitsch 
		migas food truck. Bushwick iPhone church-key, freegan pour-over Echo Park listicle crucifix Williamsburg irony 
		pug farm-to-table VHS Godard you probably haven't heard of them. Neutra literally cred, Truffaut drinking vinegar 
		fixie tousled banjo post-ironic dreamcatcher lo-fi freegan paleo farm-to-table. Chambray hella swag, before they 
		sold out messenger bag meggings polaroid pork belly jean shorts kitsch. Intelligentsia slow-carb shabby chic, cred 
		narwhal banh mi crucifix brunch flexitarian.</p>
	</article>


