<h1> Hi, I'm mareligh. Clink a link below to learn more about me.</h1>
<ul class = "me-pagelist">
  <% @names.each do|name| %>
    <li>
      <a href="<% name.page_path%>">
      <%= name %>
      </a>
    </li>
  <% end %>
</ul>