<div class = "content">
  <section class = "welcome">
    <h1>Hi, I'm Brenna</h1>
    <h2> I am an explorer, a dreamer, a maker and a student <br> studying software development.</h2>
  </section>
</div>
