<!DOCTYPE html>
<html>
  <head>
    <title>corinne.pingul</title>
  </head>
  <body>
    <div>
      <!-- This is the original picture size (in pixels) divided by 10 -->
      <img class="photo" src="images/cori3.jpg">
    </div>
  </body>
</html>
