<section id="projects">
  <% @projects.each do |project| %>
    <a target="_self" href="/<%= project.url %>">
      <div class="project">
        <div class="project-borders">
          <h3><%= project.name %></h3>
          <!-- not sure if this use of `<time> is totally semantic` -->
          <!-- seems to be used primarily for event schedules -->
          <time datetime="<%= project.datestamp %>"><%= project.date %></time>
        </div>
      </div>
    </a>
  <% end %>
</section>
