<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Dr. Vonn Jerry XLII is a mad scientist with over 10 years of experience being mad and try to do science." />
    <title>Dr. Vonn Jerry XLII, mad scientist for hire</title>
  </head>
  <body>
    <header align="center">
      <a id="top"></a>

      <h1>Dr. Vonn Jerry XLII<br />
      mad scientist for hire</h1>

      <nav align="center">
        <h3>
          <a href="/" title="go back to the home page, back where it all started.">home</a> -
          <a href="/about" title="learn more about my glorious, insane self.">about</a> -
          <a href="/blag" title="read about some of my recent doings.">blag</a> -
          <a href="/about#contact-me" title="get ahold of me.">contact</a> -
          <a href="/projects" title="what terrible projects will I think of next?">projects</a>
        </h3>
      </nav>
    </header>

    <section>
      <p align="center"><img src="images/mad-scientist-clipart.jpg" alt="Some mad science clipart: crazy hair, several fake moustaches, plenty o' eyeglasses, beakers, and -- KABOOM, KAPOW! -- explosions." title="Some mad science clipart: crazy hair, several fake moustaches, plenty o' eyeglasses, beakers, and -- KABOOM, KAPOW! -- explosions." height="600" width="800" /></p>
    </section>

    <footer align="center">
      <nav>
        <h3>
          ^<a href="#top" title="jump to the top of the page.">top</a> -
          <a href="mailto:drvonnjerryxlii@gmail.com" title="send me a message!">email</a> -
          <a href="https://github.com/drvonnjerryxlii" title="check out my code.">github</a> -
          <a href="https://www.linkedin.com/in/jerisommers" title="review my mad science history and projects.">linkedin</a> -
          <a href="https://twitter.com/drvonnjerryxlii" title="tweet me @DrVonnJerryXLII!">twitter</a>
        </h3>
      </nav>
      <h2>Dr. Vonn Jerry XLII, mad scientist for hire</h2>
    </footer>
  </body>
</html>
