<div class="home">
  <img src="../images/self.jpg" alt="A picture of me, Anita!">  
  <span class="intro">
    <div class="greet">Greetings! I'm Anita</div>
    <div class="me">
    I'm an Adie at <a href="http://adadevelopersacademy.org/">Ada Developers Academy</a>, <br>
    studying to become a <a href="/projects">web developer</a>.<br>
    Sometimes I <a href="/blog">blog</a> about my misadventures.<br>
    I'm also an amateur <a href="/photography">photographer</a>. <br>
    If you'd like to get in touch with me, try <a href="/contact">here</a>.
    </div>
  </span>
</div>
