<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+French+Canon' rel='stylesheet' type='text/css'>
    <title>Loraine Kanervisto</title>
    <!-- <meta charset="utf-8">
    <meta name="description" content="Loraine Kanervisto's weird words.">
    <meta name="keywords" content="programming, ruby, writing, bicycles">
    <meta name="author" content="Loraine Kanervisto"> -->
  </head>

  <body>

    <header class="site_header">
      <h1 class = "title"><em>Loraine Kanervisto</em></h1>
      <nav class = "navi">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="about">About Me</a></li>
          <li><a href="programming">Programming</a></li>
          <li><a href="writing">Writing</a></li>
        </ul>
      </nav>
    </header>

    <div class="primary-content">
      <%= yield %>
    </div>

  </body>


  <footer>
    Blog posts by Loraine Kanervisto are licensed under a Creative Commons attribution 4.0 International License.
  </footer
  </html>

  </html>



</html>
