<html id="container">
  <head>
    <link rel="stylesheet" type="text/css" href="styling.css"/>
    <title>This is a layout</title>
  </head>
  <body id="body">
    <header id="header">
      fun words to say: memoize, bungalow,..
    </header>
    <div class="page_wrap">
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/blog">Blog</a>
      <a href="/projects">Projects</a>
      <a href="/music">Music</a>
    </nav>
    <div>
      <%= yield%>
    </div>
  </div>
    <footer id="footer">
      <p>
        <img id="ninja_gif" src="images/ninja.gif">
        Copyright <%= Time.now.year %> CodingNinja productions
      </p>
    </footer>
  </body>
  </html>
