<html>
  <head>
    <title>Carly Jugler</title>
    <link rel="stylesheet" type="text/css" href="mywebsite.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold" type="text/css"/>
  </head>
  <body>
    <header class="header">
      <h1>Carly Jugler</h1>
    </header>
    <main>
    <div class="primary-content">
      <%= yield %>
    </div>
  </main>
  <footer>
    <% if @contact %>
      <p>
        *If you own any of the images I use, rest assured I'm not making any money off them.
      </p>
    <% else %>
        <a href="contact">Contact</a>
        <p>
          *If you own any of the images I use, rest assured I'm not making any money off them.
        </p>
    <% end %>
  </footer>
  </body>
</html>
