<html id="container">
  <head>
    <link rel="stylesheet" type="text/css" href="styling.css"/>
    <title>This is a layout</title>
  </head>
  <body id="body">
    <header id="header">
      <h5>let's explore the 90's</h5>
    </header>
    <!-- <div id="container"> -->
      <!-- <div id="header"></div> -->
      <!-- <div id="body"></div> -->
      <!-- <div id="footer"></div> -->
    <!-- </div> -->
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/blog">Blog</a>
      <a href="/projects">Projects</a>
    </nav>
    <div>
      <%= yield%>
    </div>
    <footer class="footer">
      <p>
        <img id="ninja_gif" src="images/ninja.gif">
        Copyright <%= Time.now.year %> CodingNinja productions
      </p>
    </footer>
  </body>
  </html>
