<html>
  <head>
    <title>marleigh - ADA Cohort [2]</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="SinatraCSS.css">
  </head>
  <body>
    <div class="whole-page">
      <%= yield %>
    </div>
    <%= erb :footer %>
  </body>
</html>