<html>
  <head>
    <title>This is a layout</title>
  </head>
  <body>
    <header>
      <h5>let's explore the 90's</h5>
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/blog">Blog</a>
      <a href="/projects">Projects</a>
    </nav>
    <div>
      <%= yield%>
    </div>
    <footer>
      <p class="foot_note">
        <img id="ninja_gif" src="images/ninja.gif">
        ninja productions
      </p>
    </footer>
  </body>
  </html>
