<!DOCTYPE html>
<html>
  <head>
    <link href='//fonts.googleapis.com/css?family=IM+Fell+French+Canon' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <title>Loraine Kanervisto</title>
    <!-- <meta charset="utf-8">
    <meta name="description" content="Loraine Kanervisto's weird words.">
    <meta name="keywords" content="programming, ruby, writing, bicycles">
    <meta name="author" content="Loraine Kanervisto"> -->
  </head>

  <div class="wrapper">
    <body>

      <%= erb :header %>

      <div class="primary-content">
        <article class="text_area">
          <%= yield %>
        </article>
      </div>

    <%= erb :footer %>

    </body>
  </div>

</html>
