<html>
  <head>
    <title>Brandi Wilson: <%= @title %></title>
    <link rel="stylesheet" type="text/css" href="styles/amazing.css">
  </head>
  <body>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
