<div class="hiphop_bkgd">
  <h1 class="hiphop_header">hip hop royalty of the 90's</h1>
  <div class="text_box">
  <section>
    <img id="hill" src="images/hill.jpg">
    <h4>Lauryn Hill</h4>
      <p>Singer. Songerwriter. Producer. Actress.
      <br>Best known as a member of the Fugees and for her breakout album
      "The Miseducation of Lauryn Hill". She was the first woman to be
      nominated in 10 Grammy categories in a single year. And she's a boss.</br></p>
    </section>
  <section>
    <pre>
      <!-- creates blank space to line up text with pictures -->

    </pre>
  <h4>Missy Elliott</h4>
    <img id="missy" src="images/missy.jpg">
    <p>Singer. Songwriter. Record producer. Boss.
    <br>The only female rapper to have 6 platinum albums.
        Best known for songs such as:</br></p>
      <ul class="song_list">
        <li>"Get Your Freak On"</li>
        <li>"Lose Control"</li>
        <li>"Work It"</li>
      </ul>
  </section>
  <section>
  <pre>

  </pre>
    <img id="beyonce" src="images/beyonce.gif">
    <h4>Beyonce</h4>
    <p>Singer. Songwriter. Actor. The queen herself. 'Nuff said.</p>
  </section>
  </div>
  <h5>because they just don't make music like they used to</h5>
</div>
