<h1>This form has not-so-awesome checkboxes. :/</h1>

<form action="" method="post">
  <p>My favorite pizza toppings are:</p>
  <input type="checkbox" name="toppings[]" value="pepperoni">Pepperoni
  <input type="checkbox" name="toppings[]" value="ham">Ham
  <input type="checkbox" name="toppings[]" value="mushrooms">Mushrooms
  <input type="checkbox" name="toppings[]" value="onions">Onions

  <input type="submit" value="Choose">
</form>

<h1>This form has awesome checkboxes! XD</h1>

<form action="" method="post">
  <fieldset>
    <legend>My favorite pizza toppings are:</legend>
    <label><input type="checkbox" name="toppings[]" value="pepperoni">Pepperoni</label>
    <label><input type="checkbox" name="toppings[]" value="ham">Ham</label>
    <label><input type="checkbox" name="toppings[]" value="mushrooms">Mushrooms</label>
    <label><input type="checkbox" name="toppings[]" value="onions">Onions</label>
  </fieldset>

<h1>This form has awesome radio buttons! ^..^</h1>

  <fieldset>
    <legend>My most favorite pizza topping is:</legend>
    <label><input type="radio" name="topping" value="pepperoni">Pepperoni</label>
    <label><input type="radio" name="topping" value="ham">Ham</label>
    <label><input type="radio" name="topping" value="mushrooms">Mushrooms</label>
    <label><input type="radio" name="topping" value="onions">Onions</label>
  </fieldset>

  <input type="submit" value="Yum">
</form>

<h2>
  I am the posted params!
  <pre>
    <%= params %>
  </pre>

</h2>
