<div id="blog">
  <ul id="nav">
    <li><a href = "/gallery"> Back to Photo gallery</a></li>
  </ul>

  <header><h1>New York</h1></header>

    <img src="./images/newYork/1.jpg" alt = "new york" width = 900px>
    <img src="./images//newYork/2.jpg" alt = "new york" width = 900px>
    <img src="./images//newYork/3.jpg" alt = "new york" width = 900px>
    <img src="./images//newYork/4.jpg" alt = "new york" width = 900px>
    <img src="./images//newYork/5.jpg" alt = "new york" width = 900px>
    <img src="./images//newYork/6.jpg" alt = "new york" width = 900px>
</div>
