<section class="nineties-section">

  <h2> 90s Nostalgia</h2>

  <!-- <img class="centered-photos" src="./images/virtua_fighter.JPG" alt="virtua-photo">
</div> -->

  <img class="centered-photos" id ="batman-photo" src="./images/batman.JPG" alt="batman-photo">
</div>

  <img class="centered-photos" id="kirby-photo" src="./images/kirby.JPG" alt="kirby-photo">
</div>

</section>
