<section class="nineties-section">

  <h2 class="home-h2"> 90s Nostalgia</h2>

  <div class="netherlands-section">
    <h3> Netherlands </h3>
  <img class="netherlands-photo" src="./images/fifth.JPG" alt="netherlands">
</div>

<div class="brazil-section">
    <h3> Brazil </h3>
  <img class="brazil-photo" src="./images/fourth.JPG" alt="brazil">
</div>

<div class="turkey-section">
    <h3> Turkey </h3>
  <img class="brazil-photo" src="./images/turkey.JPG" alt="brazil">
</div>

<div class="mongolia-section">
    <h3> Mongolia </h3>
  <img class="brazil-photo" src="./images/mongolia.JPG" alt="brazil">
</div>



</section>

</body>
</html>
