<section class="photography">
  <div class="descriptor">
    I enjoy photography as a hobby and as an art form. My favorite type of photography is street and portrait. Let me know if you'd like to go shooting some time!
  </div>
  <div class="img">
    <a target="_blank" href="images/photos/ctown.jpg">
      <img src="images/photos/ctown.jpg" alt="A friendly musician in Chinatown San Francisco, CA">
    </a>
  </div>
  <div class="img">
    <a target="_blank" href="images/photos/praha_chips.jpg">
      <img src="images/photos/praha_chips.jpg" alt="Prague potato chips">
    </a>
  </div>
  <div class="img">
    <a target="_blank" href="images/photos/band.jpg">
      <img src="images/photos/band.jpg" alt="First concert at Woodford Theater in Cincinnati, OH">
    </a>
  </div>
  <div class="img">
    <a target="_blank" href="images/photos/blue.jpg">
      <img src="images/photos/blue.jpg" alt="Abstract photograph">
    </a>
  </div>
  <div class="img">
    <a target="_blank" href="images/photos/sfchinatown.jpg">
      <img src="images/photos/sfchinatown.jpg" alt="A black and white photo of a San Francisco Chinatown street.">
    </a>
  </div>
</section>
