<section id="pictures">
	<!-- <h2>Pictures</h2> -->
	<img src="./images/coffee_coding.png">
	<img src="./images/coop.png">
	<img src="./images/lake_serene.png">
	<img src="./images/park_city.png">
	<img src="./images/rainier.png">
	<img src="./images/science_center.png">
	<img src="./images/wallace_falls.png">
	<img src="./images/victoria.png">
	<img src="./images/maui.png">
</section>