<h3>The Hardest Question To Answer...</h3>
<h4>Where are you from?</h4>

<div id="images">
	<img src="./images/map.png">
</div>

<ol>
	<li>Hotlanta, GA</li>
	<li>Park City, UT</li>
	<li>Antibes, France</li>
	<li>Madison, WI</li>
	<li>Paris, France</li>
	<li>Minneapolis, MN</li>
	<li>Seattle, WA</li>
</ol>
