<section>
	<!-- <h2>Places</h2> -->
	<h4>(Pretend this is a giant cool-looking map and not a list...)</h4>
	<ol>
		<li>Hotlanta, GA</li>
		<li>Park City, UT</li>
		<li>Antibes, France</li>
		<li>Madison, WI</li>
		<li>Paris, France</li>
		<li>Minneapolis, MN</li>
		<li>Seattle, WA</li>
	</ol>
</section>