  <header>
    <h1>Programming</h1>
  </header>

  <table>
    <tr class="first_row"><td>Date</td><td>Project</td><td>My Feels About It</td></tr>
    <tr><td>May 31, 2015</td><td><a href="https://github.com/lorainekv/C3Projects--BankAccounts/tree/lk/master">BankAccounts</a></td><td>My favorite. Rspec finally kinda clicked.</td></tr>
    <tr><td>May 27, 2015</td><td><a href="https://github.com/lorainekv/C3Projects--Scrabble/tree/lk/master">Scrabble</a></td><td>Bloated code, kinda grossed out by it. Learned about my learning style.</td></tr>
    <tr><td>May 17, 2015</td><td><a href="https://github.com/lorainekv/C3Projects--RandomMenuGenerator/tree/lk/master">Random Menu Generator</a></td><td>Boozy dessert edition. skwak gave some invaluable code clean-up advice.</td></tr>
    <tr><td>May 11, 2015</td><td><a href="https://github.com/lorainekv/C3Projects--OrangeTree/tree/lk/master">Orange Tree</a></td><td>Wonderful collab on this</td></tr>
    <tr><td>May 8, 2015</td><td><a href="https://github.com/lorainekv/C3Projects--Calculator/tree/lk/master">Calculator</a></td><td>Learned tons from khjrtbrg</td></tr>
    <tr><td>May 15, 2015</td><td><a href="https://github.com/lorainekv/C3Projects--SolarSystem/tree/lk/master">Solar System</a></td><td>Hard to concentrate in library. Mostly stared at Memory Alpha.</td></tr>
  </table>
