<!DOCTYPE HTML>


<div class="projects">

  <div class="bankaccounts">
    <h3><a href="https://github.com/sallyamoore/C3Projects--BankAccounts">Bank Accounts</a></h3>
    <p>Week 4 - Practicing use of inheritance between classes.</p>
  </div>

  <div class="scrabble">
    <h3><a href="https://github.com/sallyamoore/C3Projects--Scrabble">Scrabble Lite</a></h3>
    <p>Week 4 - Continuing to practice using classes and managing multiple files</p>
  </div>

  <div class="solarsystem">
    <h3><a href="https://github.com/sallyamoore/C3Projects--SolarSystem">Solar System</a></h3>
    <p>Week 2 - Learning about classes</p>
  </div>

  <div class="hangman">
    <h3><a href="https://github.com/sallyamoore/C3Projects--Hangman">Star Trek Hangman</a></h3>
    <p>Week 2 - I'm just really excited that I got to use <em>Star Trek</em> references!</p>
  </div>

  <div class="menu">
    <h3><a href="https://github.com/sallyamoore/C3Projects--RandomMenuGenerator">Random Menu Generator</a></h3>
    <p>Week 1 - Methods! Ruby! It's all a blur!</p>
  </div>

  <div class="another">
    <h3><a href="https://github.com/sallyamoore/C3Projects--Hangman">Star Trek Hangman</a></h3>
    <p>Week 2 - I'm just really excited that I got to use <em>Star Trek</em> references!</p>
  </div>

</div>
