<div class="ada_logo">
<p>
  Here you can find information about some of the projects that I have completed so far while being enrolled at Ada.
  <br> You can click on the link and it will take you to <a href="https://github.com/MisShellyMac"> my GitHub</a> Respository for that project.
</p>

<p>
<table border="1">
  <tr>
    <td><p class="body";>Project Name</td>
    <td><p class="body">Project URL</td>
    <td><p class="body">Project Description and/or Thoughts</td>
    </tr>
    <tr>
    <td> <p class="body">Bank Accounts </td>
    <td><a href="https://github.com/MisShellyMac/C3Projects--BankAccounts/tree/mjm/master"> Bank Accounts</td>
    <td><p class="body">This was our most recent assignment that we sent for code review. </td>
    </tr>
    <tr>
      <td> <p class="body">Scrabble </td>
    <td><a href="https://github.com/MisShellyMac/C3Projects--Scrabble/tree/mjm/master"> Scrabble</td>
    <td><p class="body">This project had us create a hangman game and have ascii art display progress.</td>
    </tr>
    <tr>
    <td> <p class="body">FarMar Finder </td>
    <td><a href="https://github.com/Ada-Developers-Academy/C3Projects--FarMarFinder/tree/acw+mjm/master"> FarMar</td>
    <td><p class="body">This was our first attempt at a multi-page and class assigntment.This assignment was a pair programming assignment. </td>
    </tr>
    <tr>
    <td> <p class="body">Hangman </td>
    <td> <a href="https://github.com/MisShellyMac/C3Projects--Hangman/tree/mjm/master"> Hangman(pair programming)</td>
    <td><p class="body">
    This was my first pair programming multi-day assignment. </td>
    </tr>
  </p>
  </table>
