<div id="projects">
  <ul id="nav">
    <li><a href="mailto:vikshab2010@hotmail.com">Write me</a></li>
    <li><a href = "/blog">My blog</a></li>
    <li><a href = "/gallery"> Photo gallery</a></li>
    <li><a href = "/about">About me</a></li>
    <li><a href = "/">Back ho homepage</a></li>
  </ul>
  <header><h1>My projects</h1></header>
  <img src ="./images/terminal.png" alt = "home page" width = 900px height=400px>

  <table id="projects_table">
    <tr>
      <th id="th_projets">Project name</th>
      <th>Code snippets</th>
      <th>Link to code</th>
    </tr>

    <tr>
      <td id="td_projects">Bank Accounts</td>
      <td><img src="./images/bank.png" alt = "code snippet" width=600px height=110px></td>
      <td><ul id="link"><li><a href="https://goo.gl/n36pkD">click me to see the original code</li></ul></a></td>
    </tr>

    <tr>
      <td>Scrabble</td>
      <td><img src="./images/scrabble.png" alt = "code snippet" width=600px height=110px></td>
      <td><ul id="link"><li><a href="https://goo.gl/AVPGd2">click me to see the original code</li></ul></a></td>
    </tr>

    <tr>
      <td>Calculator</td>
      <td><img src="./images/calc.png" alt = "code snippet" width=600px height=110px></td>
      <td><ul id="link"><li><a href="https://goo.gl/IespDV">click me to see the original code</li></ul></a></td>
    </tr>

    <tr>
      <td>Hangman</td>
      <td><img src="./images/hangman.png" alt = "code snippet" width=600px height=110px></td>
      <td><ul id="link"><li><a href="https://goo.gl/cegkqG">click me to see the original code</li></ul></a></td>
    </tr>

    <tr>
      <td>Orange Tree</td>
      <td><img src="./images/orange.png" alt = "code snippet" width=600px height=110px></td>
      <td><ul id="link"><li><a href="https://goo.gl/MwMSD4">click me to see the original code</li></ul></a></td>
    </tr>

    <tr>
      <td>Random Menu Generator</td>
      <td><img src="./images/random.png" alt = "code snippet" width=600px height=110px></td>
      <td><ul id="link"><li><a href="https://goo.gl/85bdpK">click me to see the original code</li></ul></a></td>
    </tr>

    <tr>
      <td>Solar System</td>
      <td><img src="./images/solar.png" alt = "code snippet" width=600px height=110px></td>
      <td><ul id="link"><li><a href="https://goo.gl/17Jfhf">click me to see the original code</li></ul></a></td>
    </tr>
  </table>
</div>
