<main>
  <h1 class="title">My Projects</h1>
  <h2>Assignments</h2>
  <h3><a href="https://github.com/catchingash/C3Projects--Calculator">Calculator</a></h3>
  <p>I created this during week 1 of Ada.</p>
  <h3><a href="https://github.com/catchingash/C3Projects--RandomMenuGenerator">Random Menu Generator</a></h3>
  <p>I created this during week 1 of Ada.</p>
  <h3><a href="https://github.com/catchingash/C3Projects--OrangeTree">Orange Tree</a></h3>
  <p>I created this during week 2 of Ada as part of a group project.</p>
  <h3><a href="https://github.com/catchingash/C3Projects--SolarSystem">Solar System</a></h3>
  <p>I created this during week 2 of Ada.</p>
  <h3><a href="https://github.com/catchingash/C3Projects--Hangman">Hangman</a></h3>
  <p>I created this during week 2 of Ada as part of a pair project.</p>
  <h3><a href="https://github.com/catchingash/C3Projects--FarMarFinder">Farmer's Market Finder</a></h3>
  <p>I created this during week 3 of Ada as part of a pair project.</p>
  <h3><a href="https://github.com/catchingash/C3Projects--Scrabble">Scrabble</a></h3>
  <p>I created this during week 4 of Ada.</p>
  <h3><a href="https://github.com/catchingash/C3Projects--BankAccounts">Bank Accounts</a></h3>
  <p>I created this during week 4 of Ada.</p>
</main>
