
    <h1> <a name="top"></a>Projects</h1>
</header>

<section>
  <ul>
      Ruby projects hosted on GitHub
    <li>
      <a href="https://github.com/brittinator">Link to my GitHub Account</a></li>
    <p>Month 1</p>

    <li><a href="#calculator">Calculator</a></li>
    <li><a href="#randommenu">Random Menu Generator</a></li>
    <li><a href="#orangetree">Orange Tree</a></li>
    <li><a href="#solarsys">Solar System</a></li>
    <li><a href="#hangman">Hangman</a></li>
    <li><a href="#farmar">FarMar</a></li>
    <li><a href="#scrabble">Scrabble</a></li>
    <li><a href="#bank">Bank Accounts</a></li>
    <p>Month 2</p>
  </ul>
</section>

<section>
  <h2>Discussion</h2>
  <h3><a name="calculator"></a>Calculator</h3>
  <p>
    GitHub link: <a href="https://github.com/brittinator/C3Projects--Calculator/tree/blw/master">Calculator</</p>
  <p>
    This was the first project I turned in at Ad</p>
  <h3><a name="randommenu"></a>Random Menu Generator</h3>
  <p>
    GitHub link: <a href="https://github.com/brittinator/C3Projects--RandomMenuGenerator/blob/blw/master/menu_gen.rb">Random Menu Generator</</p>
  <p>
    This project was a lot of fun.  It was getting us used to arrays, and their associated function</p>

  <h3><a name="orangetree"></a>
    Orange Tree
  </h3>
  <p>
    GitHub link: <a href="https://github.com/brittinator/C3Projects--OrangeTree/blob/blw/master/orangetree.rb">Orange Tree (Group Class Project)</</p>
  <p>
    This was a group project to introduce the concept of classes.
    The classes needed to communicate with each othe</p>

  <h3>
    Solar System
  </h3>
  <p>
    GitHub link: <a href="https://github.com/brittinator/C3Projects--SolarSystem/blob/blw/master/planetary_system.rb">Solar System</a> (Solo Class Projec</p>
  <p>
    This was a solo project reinforcing the idea of classes, attr_accessor</p>

  <h3><a name="hangman">Hangman</a></h3>
  <p>
    GitHub link: <a href="https://github.com/brittinator/C3Projects--Hangman/tree/blw/master">Hangman</a> (Pair Projec</p>
  <p>
    This was the first time I used a ruby gem, colorize. I used it to make the ascii art prettier.
    This was challenging but fu</p>
  <h3><a name="farmar"></a>
    FarMar Finder
  </h3>
  <p>
    GitHub link: <a href="https://github.com/Ada-Developers-Academy/C3Projects--FarMarFinder/tree/blw+crp/master">FarMar </a>(CSV Pair Project ) (privat</p>
  <p>
    This project is about working with CSV files, and relating different
    ruby scripts to one another. Many classes, class methods, and instance methods
    are used throughou</p>

  <h3><a name="scrabble"></a>
    Scrabble
  </h3>
  <p>
    GitHub link: <a href="https://github.com/brittinator/C3Projects--Scrabble/tree/blw/master">Scrabble</</p>
  <p>
    This is actually the rules around what governs a winning word in scrabble.
    No framework on an actual scrabble game was implemente</p>

  <h3><a name="bank"></a>
    Bank Account
  </h3>
  <p>
    GitHub link: <a href="https://github.com/brittinator/C3Projects--BankAccounts/tree/blw/master">Bank Accounts</a> (Inheritance)</p>
  <p>
    This was the first project to use Test Driven Design (TDD).  The various bank
    account types inherited attributes from the base account class.</p>
</section>
