<section>
	<!-- <h2>Projects</h2> -->
	<h3>GitHub</h3>
	<h5>5 green squares and counting...</h5>
	
	<table>	
		<th>How I Feel About The Projects:</th>
		<tr>
			<td>Number of Stars</td>
			<td>Rating</td>
		</tr>
		<tr>
			<td><img src="./images/star.png"></td>
			<td>Learned a lot...</td>
		</tr>
		<tr>
			<td><img src="./images/star.png"><img src="./images/star.png"></td>
			<td>Learned even more...</td>
		</tr>
		<tr>
			<td><img src="./images/star.png"><img src="./images/star.png"><img src="./images/star.png"></td>
			<td>Good project</td>
		</tr>
		<tr>
			<td><img src="./images/star.png"><img src="./images/star.png"><img src="./images/star.png"><img src="./images/star.png"></td>
			<td>Fun fun fun!</td>
		</tr>
		<tr>
			<td><img src="./images/star.png"><img src="./images/star.png"><img src="./images/star.png"><img src="./images/star.png"><img src="./images/star.png"></td>
			<td>I could do this all day!</td>
		</tr>
	</table>


	<ul>
		<li><a href="https://github.com/lo-k/C3Projects--FarMarFinder">FarMar</a>
			<ul>
				<li><img src="./images/star.png"></li>
			</ul>
		</li>
		<li><a href="https://github.com/lo-k/C3Projects--BankAccounts">BankAccount</a>
			<ul>
				<li><img src="./images/star.png"><img src="./images/star.png"><img src="./images/star.png"><img src="./images/star.png"><img src="./images/star.png"></li>
			</ul>
		</li>
		<li><a href="https://github.com/lo-k/C3Projects--OrangeTree">OrangeTree</a>
			<ul>
				<li><img src="./images/star.png"><img src="./images/star.png"></li>
			</ul>
		</li>
		<li><a href="https://github.com/lo-k/C3Projects--Hangman">Hangman</a>
			<ul>
				<li><img src="./images/star.png"><img src="./images/star.png"><img src="./images/star.png"></li>
			</ul>
		</li>
		<li><a href="https://github.com/lo-k/C3Projects--RandomMenuGenerator">RandomMenuGenerator</a>
			<ul>
				<li><img src="./images/star.png"><img src="./images/star.png"><img src="./images/star.png"><img src="./images/star.png"></li>
			</ul>
		</li>
		<li><a href="https://github.com/lo-k/C3Projects--SolarSystem">SolarSystem</a>
			<ul>
				<li><img src="./images/star.png"><img src="./images/star.png"><img src="./images/star.png"></li>
			</ul>
		</li>
	</ul>
</section>