<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Dr. Vonn Jerry XLII is a mad scientist with over 10 years of experience being mad and try to do science." />
    <title>Dr. Vonn Jerry XLII, mad scientist for hire</title>
  </head>
  <body>
    <header align="center">
      <a id="top"></a>

      <h1>Dr. Vonn Jerry XLII<br />
      mad scientist for hire</h1>

      <nav align="center">
        <h3>
          <a href="/" title="go back to the home page, back where it all started.">home</a> -
          <a href="/about" title="learn more about my glorious, insane self.">about</a> -
          <a href="/blag" title="read about some of my recent doings.">blag</a> -
          <a href="/about#contact-me" title="get ahold of me.">contact</a> -
          <a href="/projects" title="what terrible projects will I think of next?">projects</a>
        </h3>
      </nav>
    </header>

    <section align="center">
      <h1>PROJECTS</h1>

      <table align="center" width="800">
        <caption>
          <h2>my best recent attempts at world domination</h2>
        </caption>
        <tbody>
          <tr>
            <th>
              <h2>project</h2>
            </th>
            <th>
              <h2>thumbnail</h2>
            </th>
            <th>
              <h2>description</h2>
            </td>
          </tr>
          <tr>
            <th width="125">
              <h3>
                1.<br />
                <strong>Solar System</strong><br /><br />
                <em>Ada prep assignment<br />and week 2 project</em>
              </h3>
            </th>
            <td width="250">
              <a href="projects/solar-system"><img src="images/solar-system1.png" alt="a clip of the sun's info section" title="a clip of the sun's info section" /></a>
            </td>
            <td width="425">
              <p>A worker climbs to the top of the crate. The search lights are trained on the door. The rifleman throw the bolts on their rifles and crack their stun guns, sending arcs of current cracking through the air. The worker gets ready to grab the gate when all at once A roar from the inside the crate, and the panel flies out of his hands and smacks into him, knocking him clear off the crate. Now everything happens at once. The worker thuds to the jungle floor, the crate jerks away from the mouth of the holding pen flash, an alarm buzzer sounds "Shoot her!"</p>
            </td>
          </tr>
          <tr>
            <th>
              <h3>
                2.<br />
                <strong>Card Game: Set clone</strong><br /><br />
                <em>pretty dang awesome</em>
              </h3>
            </th>
            <td>
              <a href="projects/set-clone"><img src="images/set-clone1.png" alt="a view of six cards from the set clone" title="a view of six cards from the set clone" /></a>
            </td>
            <td>Muldoon whisks in through the double doors. Hammond is right behind him. They go straight to the main console, where RAY ARNOLD fortyish, a chronic worrier and chain-smoker, is seated. "National Weather Service is tracking a tropical storm about seventy-five miles west of us." Hammond sighs and looks over Arnold's shoulder. "Why didn't I build in Orlando?" "I'll keep an eye on it. Maybe it'll swing south like the last one." "Ray, start the tour program." He punches a button on the console. "Hold on to your butts!"</td>
          </tr>
          <tr>
            <th>
              <h3>
                3.<br />
                <strong>Project Euler</strong><br /><br />
                <em>solved 19<br />problems<br />thus far</em>
              </h3>
            </th>
            <td>
              <a href="https://projecteuler.net/profile/drvonnjerryxlii.png"><img src="images/project-euler.png" alt="an image that shows I have solved 19 problems" title="an image that shows I have solved 19 problems" /></a>
            </td>
            <td>
              <p>A snake slithers across a tree branch, past what looks like the large iris of a flower. The flower blinks. It's the eye of the raptor. Muldoon sees it. He raises his gun. Instead of running away again, the raptor rises slowly out of the brush, fully revealing itself to Muldoon, hissing at him. The corners of Muldoon's mouth twitch up into a smile. He draws a bead on the animal. His finger tenses on the trigger. Suddenly, his smile vanishes, both eyes pop open, and a terrible thought sweeps across his face. His eyes flick to the side "Clever girl".</p>
            </td>
          </tr>
          <tr>
            <th>
              <h3>
                4.<br />
                <strong>Hangman</strong><br /><br />
                <em>Ada week 2 project<br /><br />fully playable game</em>
              </h3>
            </th>
            <td>
              <a href="https://github.com/drvonnjerryxlii/ada/blob/master/class-projects/d009-hangman.rb"><img src="images/hangman1.png" alt="the opening screen of the hangman game" title="the opening screen of the hangman game" /></a>
            </td>
            <td>
              <p>Ned looks up and sees a man get out of a taxi - Lewis Dodson, fiftyish, wearing a large straw hat and looking almost too much like an American tourist. Dodson clutches as attaché case close to him and scans the cafe furtively. Nedry laughs, shakes his head, and waves to him. "Dodgson!" Dodgson hurries over to the table. "You shouldn't use my name." "Dodgson, Dodgson! We got Dodgson here! See, nobody cares. Nice hat. What are you trying to look like, a secret agent?"</p>
            </td>
          </tr>
          <tr>
            <th>
              <h3>
                5.<br />
                <strong>Scrabble</strong><br /><br />
                <em>Ada week 4 project<br /></em>
              </h3>
            </th>
            <td>
              <a href="https://github.com/drvonnjerryxlii/C3Projects--Scrabble/tree/js/master"><img src="images/scrabble.png" alt="a view of an rspec test with accompanying scrabble board mockup" title="a view of the rspec test with accompanying scrabble board mockup" /></a>
              </td>
            <td>
              <p>"John, the kind of control you're attempting is not possible. If there's one thing the history of evolution has taught us, it's that life will not be contained. Life breaks free. It expands to new territories. It crashes through barriers. Painfully, maybe even dangerously, but and...well, there it is." Ellie listens to him, impressed. Watch her head - support her head. Grant, ignoring the others, picks up the baby dinosaur, and holds it on the palm of his hand, under the incubator's heat light. He spreads the tiny animal out on the back of his hand and delicately runs his finger over its tail, counting the vertebrae. A look of puzzled recognition crosses his face. "You're implying that a group of composed entirely of females will breed?" "I'm simply saying that life - - finds a way.</p>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <footer align="center">
      <nav>
        <h3>
          ^<a href="#top" title="jump to the top of the page.">top</a> -
          <a href="mailto:drvonnjerryxlii@gmail.com" title="send me a message!">email</a> -
          <a href="https://github.com/drvonnjerryxlii" title="check out my code.">github</a> -
          <a href="https://www.linkedin.com/in/jerisommers" title="review my mad science history and projects.">linkedin</a> -
          <a href="https://twitter.com/drvonnjerryxlii" title="tweet me @DrVonnJerryXLII!">twitter</a>
        </h3>
      </nav>
      <h2>Dr. Vonn Jerry XLII, mad scientist for hire</h2>
    </footer>
  </body>
</html>
