<div class="projects">
<h3>Projects</h3>

<div class = "project_articles">
<article>
  <h4>Calculator</h4>
    <p>My thoughts on the Calculator project</p>
    <a href="https://github.com/lindseyreno/C3Projects--Calculator/blob/lar/master/calculator.rb">Calculator Code</a>
</article>

<article>
  <h4>Random Menu Generator</h4>
    <p>My thoughts on the Random Menu Generator</p>
    <a href="https://github.com/lindseyreno/C3Projects--RandomMenuGenerator/blob/lar/master/random_menu.rb">Random Menu Generator Code</a>
</article>

<article>
  <h4>Scrabble</h4>
  <p>My thoughts on Scrabble</p>
  <a href="https://github.com/lindseyreno/C3Projects--Scrabble/blob/lar/master/lib/scrabble.rb">Scrabble Code</a>
  <a href="https://github.com/lindseyreno/C3Projects--Scrabble/blob/lar/master/spec/scrabble_spec.rb">Scrabble Spec Code</a>
</article>

</div>

<h5>Check out the rest of my code on github! <a class="page_links" href="https://github.com/lindseyreno"><img src="images/github_image.png" height="45" width="45"></a></h5>

</div>
