<section class="projects">
  <table class="timeline">
    <tr>
      <td id="month1">month 1</td>
      <td id="month2">month 2</td> 
      <td id="month3">month 3</td>
      <td id="month4">month 4</td>
      <td id="month5">month 5</td>
      <td id="month6">month 6</td>
      <td id="month7">month 7</td>
      <td id="month8">month 8</td>
      <td id="month9">month 9</td>
      <td id="month10">month 10</td>
      <td id="month11">month 11</td>
      <td id="month12">month 12</td>
    </tr>
  </table>
  <div class="descriptor">
    Ada Developers Academy is a year-long intensive training program that transitions women into software development. You can follow my journey by viewing the projects I've completed.
  </div>



  <h3>Projects</h3>
  <strong>Bank Accounts</strong><br>
  <em>May 31 2015</em><br>
  <a href="https://github.com/Ada-Developers-Academy/C3Projects--BankAccounts/pull/9"><img src="images/bankaccounts.png" width=350 length=350></a>
  <p>We completed our most recent project 'Bank Accounts' this past weekend. This project gave me more confidence in my understanding of object-oriented programming. Our previous project, FarMar, was a tough start at learning to use modules, classes, and objects in programming. At the completion of Bank Accounts, I felt more confident in my understanding these concepts and was able to use them more comfortably.</p>
</section>