<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/my_site.css">
    <title>Projects</title>
  </head>

  <body>
    <header>
      <nav class="nav_bar">
        <a href="/">Home Page</a>
        <a href="about">About Page</a>
        <a href="projects">Projects</a>
        <a href="blog">Blog</a>
      </nav>
    </header>
    <h1>PROJECTS</h1>
    <p>
      Below are some of the projects I have been working on.
    </p>
    <ul>

      <li>
        <a href="https://github.com/shannachau/C3Projects--Calculator/tree/svc/master" target="_blank">Calculator Project</a>
        <ul>
          <li>Check out this brizzle. Integizzle ma nizzle velit sed yo mamma.</li>
        </ul>
      </li>
      <li>
        <a href="https://github.com/shannachau/C3Projects--RandomMenuGenerator/tree/svc/master" target="_blank">Random Menu Generator</a>
        <ul>
          <li>Izzle placerizzle, i'm in the shizzle quizzle the bizzle blandit, felis augue that's the shizzle shut the shizzle up, fo bibendizzle the bizzle ipsizzle go to hizzle erizzle.</li>
        </ul>
      </li>
      <li>
        <a href="https://github.com/shannachau/C3Projects--OrangeTree/tree/svc/master" target="_blank">Orange Tree</a>
        <ul>
          <li>I saw beyonces tizzles and my pizzle went crizzle funky fresh.</li>
        </ul>
      </li>
      <li>
        <a href="https://github.com/shannachau/C3Projects--Hangman/tree/svc/master" target="_blank">Hangman</a>
        <ul>
          <li>Etiam posuere lacinia mi. Away uhuh ... yih!. </li>
        </ul>
      </li>
      <li>
        <a href="https://github.com/shannachau/C3Projects--BankAccounts/tree/svc/master" target="_blank">Bank Account</a>
        <ul>
          <li>Cras faucibus elit. Duis shut the shizzle up lectus, consequat sizzle, crackalackin yo, yippiyo dawg, tellus.</li>
        </ul>
      </li>

  </body>

  <footer class="social_media_links">
    <a href="https://twitter.com/shannachau">Twitter</a>
    <a href="https://github.com/shannachau">GitHub</a>
    <a href="https://www.linkedin.com/pub/shanna-chau/74/aa4/144">LinkedIn</a>
  </footer>
</html>
