<section class="projects">

  <h2> My Projects </h2>
    <p><a href="https://github.com/wangg131/C3Projects--RandomMenuGenerator/blob/lw/master/random_menu_lunch.rb"> <h3 class=project-title> Random Menu Generator </h3> </a></p>
    <p> This was one of my first projects that we worked on in the first two weeks of class, so it's as basic as they come.</p>

    <p> <a href="https://github.com/wangg131/C3Projects--BankAccounts/tree/lw/master"> <h3 class=project-title> Bank Accounts </h3> </a></p>
    <p> This is my Bank Accounts project. Go in the /lib folder for the code. After a difficult week with a different project, Bank Account was definitely a turnaround for me. </p>


    <img id="asian-dad-photo" class="centered-photos" src="./images/asian.JPG" alt="asian_dad">

</section>
