<h3>GitHub</h3>
<h4>6 green squares and counting...</h4>

<div id="projects">
	<a href="https://github.com/lo-k/C3Projects--BankAccounts"><div>BANK ACCOUNT</div></a>
	<a href="https://github.com/lo-k/C3Projects--FarMarFinder"><div>FAR MAR</div></a>
	<a href="https://github.com/lo-k/C3Projects--RandomMenuGenerator"><div>RANDOM MENU GENERATOR</div></a>
	<a href="https://github.com/lo-k/C3Projects--SolarSystem"><div>SOLAR SYSTEM</div></a>
	<a href="https://github.com/lo-k/C3Projects--Hangman"><div>HANGMAN</div></a>
	<a href="https://github.com/lo-k/C3Projects--OrangeTree"><div>ORANGE TREE</div></a>
</div>
