<article>
	<section>
		<h3>Bank Accounts</h3>

		<p>The Bank Accounts project in week 4 of Ada Developers Academy was designed to practice and solidify concepts of class inheritance.</p>

		<p>Peruse my class inheritance code <a href="https://github.com/arhx/C3Projects--BankAccounts/tree/ar/master">here</a>.</p>
	</section>

	<section>
		<h3>Hangman</h3>

		<p>In week 2 of Ada Developers Academy, Amira Hailemariam and I created a terminal version of Hangman. By this point, we knew about methods and classes, and were starting to think about organizing code in a logical manner.</p>

		<p>Check out our Hangman code <a href="https://github.com/arhx/C3Projects--Hangman/tree/ar/master">here</a>.</p>
	</section>

	<section>
		<h3>Calculator</h3>

		<p>During the first week of Ada Developers Academy, I wrote a Ruby program to perform simple calculations in the terminal. I barely knew what a method was, and didn't yet know not to use global variables.</p>

		<p>Check out my code <a href="https://github.com/arhx/C3Projects--Calculator/tree/ar/master">here</a>.</p>
	</section>
</article>