<section class="projects">
  <table class="timeline">
    <tr>
      <td id="month1">month 1</td>
      <td id="month2">month 2</td> 
      <td id="month3">month 3</td>
      <td id="month4">month 4</td>
      <td id="month5">month 5</td>
      <td id="month6">month 6</td>
      <td id="month7">month 7</td>
      <td id="month8">month 8</td>
      <td id="month9">month 9</td>
      <td id="month10">month 10</td>
      <td id="month11">month 11</td>
      <td id="month12">month 12</td>
    </tr>
  </table>
  <div class="descriptor">
    Follow my journey to become a web developer by viewing my projects below.
  </div>
  <div class="months">
    <img src="images/bankaccounts.png">
    <h4>Month 1</h4>
    <p class="month1">Our first month has already come and gone and I am in awe of all our cohort has accomplished in this short time. I'm still so excited that I'm able to participate in this program with 23 other intelligent and fantastic people. We spent most of this first month covering pure Ruby. We programmed a few games and delved into the world of object oriented programming. I struggled to understand classes and modules at first, a concept that was foreign to me. But, I came out in the end having learned a great deal.</p>
    <ul>
      <li><a href="https://github.com/acmei/C3Projects--Calculator/tree/acw/master">Calculator</a></li>
      <li><a href="https://github.com/acmei/C3Projects--RandomMenuGenerator/tree/acw/master">Random Menu Generator</a></li>
      <li><a href="https://github.com/acmei/C3Projects--OrangeTree/tree/acw/master">Orange Tree</a></li>
      <li><a href="https://github.com/acmei/C3Projects--SolarSystem/tree/acw/master">Solar System</a></li>
      <li><a href="https://github.com/acmei/C3Projects--Hangman/tree/acw/master">Hangman</a></li>
      <li><a href="https://github.com/acmei/C3Projects--FarMarFinder/tree/acw+mjm/master">FarMarFinder</a></li>
      <li><a href="https://github.com/acmei/C3Projects--Scrabble/tree/acw/master">Scrabble</a></li>
      <li><a href="https://github.com/acmei/C3Projects--BankAccounts/tree/acw/master">Bank Accounts</a></li>
    </ul>
  </div>
</section>
