<div class="content">
  <section class = "projects">

    <article>
      <h2><a href="https://github.com/Brennaleker/C3Projects--BankAccounts/tree/bdl/master">Bank Accounts</a></h2>
      <p>
        This is a super legit banking site I created. We are experiencing some technical difficulties right now so if you would like to open an account just write me a personal check.
      </p>
    </article>

    <article>
      <h2><a href="https://github.com/Brennaleker/C3Projects--Hangman/tree/bdl/master">Grow a Dragon</a></h2>
      <p>
        My partner and I created a hangman inspired app in which you grow a baby dragon.  Be careful; while baby dragons are adorable adult dragons are dangerous!
      </p>
    </article>

    <article>
      <h2><a href="http://theadventurebegins.net/">Wedding Site</a></h2>
      <a href="http://theadventurebegins.net/"><img src="images/wedding.png" alt = "the wedding site landing page"></a>
      <p>
        This is a site I created for our friends and family. It is a single page site with jump page navigation.
      </p>
    </article>
  </section>
</div>
