<article>

	<section>
		<h3>Bank Accounts</h3>

		<p>Hodor! Hodor hodor, hodor... Hodor hodor hodor... Hodor hodor HODOR hodor, hodor hodor. Hodor. Hodor hodor hodor hodor - hodor hodor! Hodor hodor HODOR! Hodor hodor; hodor hodor; hodor hodor; hodor hodor, hodor. Hodor hodor. Hodor hodor HODOR! Hodor HODOR hodor, hodor hodor hodor! Hodor, hodor - hodor. Hodor.</p>

		<p>Peruse my class inheritance code <a href="https://github.com/arhx/C3Projects--BankAccounts/tree/ar/master">here</a>.</p>
	</section>

	<section>
		<h3>Hangman</h3>

		<p>Hodor hodor - HODOR hodor, hodor hodor, hodor. Hodor hodor. Hodor hodor - hodor hodor hodor hodor HODOR hodor, hodor hodor? Hodor! Hodor hodor, hodor; hodor hodor?! Hodor! Hodor hodor, HODOR hodor, hodor hodor?! Hodor, hodor hodor hodor. Hodor. Hodor, hodor, hodor. Hodor hodor... Hodor hodor hodor?</p>

		<p>Check out our Hangman code <a href="https://github.com/arhx/C3Projects--Hangman/tree/ar/master">here</a>.</p>
	</section>

	<section>
		<h3>Calculator</h3>

		<p>Hodor! Hodor hodor, hodor; hodor hodor hodor... Hodor hodor hodor... Hodor hodor hodor?! Hodor! Hodor hodor, hodor hodor hodor; hodor hodor... Hodor hodor hodor?! Hodor, hodor. Hodor. Hodor, HODOR hodor, hodor hodor hodor?! Hodor. Hodor hodor; hodor hodor?! Hodor hodor - hodor... Hodor hodor hodor hodor hodor hodor! Hodor hodor HODOR! Hodor hodor - hodor hodor hodor. Hodor. Hodor, hodor hodor hodor, hodor. Hodor HODOR hodor, hodor hodor hodor!</p>

		<p>Check out my baby code <a href="https://github.com/arhx/C3Projects--Calculator/tree/ar/master">here</a>.</p>
	</section>

</article>