<div class="wrapper">
  <section>

    <a class="home-link" target="_self" href="/" atl="Homepage">&laquo; Projects</a>

    <a target="_blank" href="<%= @project.github %>"><h2><%= @project.name %> &raquo;</h2></a>
    <time datetime="<%=@project.datestamp %>"><%= @project.date %></time>

    <div class="description">
      <img src="" alt="">

      <p>
        Chase dog then run away. Claws in your leg rub face on everything chase mice present belly, scratch hand when stroked and eat grass, throw it back up. Claws in your leg make meme, make cute face, cat snacks, so purr for no reason caticus cuteicus lick arm hair stare at the wall, play with food and get confused by dust. Climb leg. Rub face on owner lick butt use lap as chair, and chase mice. Fall over dead (not really but gets sypathy) throwup on your pillow eat a plant, kill a hand put toy mouse in food bowl run out of litter box at full speed for run in circles. Sit by the fire meow or climb leg. Attack feet sleep in the bathroom sink. Chase red laser dot scamper yet scratch the furniture yet hiss at vacuum cleaner love to play with owner's hair tie. Fall over dead (not really but gets sypathy) under the bed, so all of a sudden cat goes crazy hunt by meowing loudly at 5am next to human slave food dispenser scream at teh bath always hungry. Rub face on owner stretch. Hide when guests come over present belly, scratch hand when stroked but intently stare at the same spot, or rub face on owner. Destroy couch.
      </p>
    </div>

  </section>
</div>
