<!DOCTYPE HTML>

<p>
You can find my publications related to coding <a href="/blog">here.</a><br>
</p>

<ul>
  <li><b>Moore, S. A.,</b> Welch, S. S., Michonski, J., Poquiz, J., Osborne, T., Sayrs, J, &amp; Spanos, A. (2015). Psychometric evaluation of the Overall Anxiety Severity and Impairment Scale (OASIS) in individuals seeking outpatient specialty treatment for anxiety-related disorders. Journal of Affective Disorders, 175, 463-470.
  </li>

  <li>
  Moore, R. T. &amp; <b>Moore, S. A.</b> (2013).  Blocking for sequential political experiments. Political Analysis, 21(4), 507-523.
  </li>

  <li>
  <b>Moore, S. A.</b> &amp; Zoellner, L. A. (2012). The effects of expressive and experiential suppression on memory accuracy and memory distortion in women with and without PTSD. Journal of ExperimentalPsychopathology, 3(3), 368-392.
  </li>

  <li>
  Naragon-Gainey, K., Simpson, T. L., <b>Moore, S. A.,</b> Varra, A. A., &amp; Kaysen, D. L. (2012). The correspondence of daily and retrospective PTSD reports among female victims of sexual assault. Psychological Assessment, 24(4), 1041-1047.
  </li>

  <li>
  Simpson, T. L., Stappenbeck, C. A., Varra, A. A., <b>Moore, S. A.,</b> &amp; Kaysen, D. (2012). Symptoms of posttraumatic stress predict craving among alcohol treatment seekers: Results of a daily monitoring study. Psychology of Addictive Behaviors, 26(4), 724-33.
  </li>

  <li>
  Hassija, C. M., Luterek, J., Naragon-Gainey, K., <b>Moore, S. A.,</b> &amp; Simpson, T. L. (2012).  Impact of emotional approach coping and hope on PTSD and depression symptoms in a trauma exposed sample of veterans receiving outpatient VA mental health care. Anxiety, Stress, and Coping, 25(5), 559-73.
  </li>

  <li>
  Simpson, T. L, Moore, S.A., Luterek, J., Varra, A., Hyerle, L., Bush, K., et al. (2012). Psychiatric correlates of medical costs among veterans receiving mental health care. Journal of Interpersonal Violence, 27(6), 1005-1022.
  </li>

  <li>
  Kaysen, D., Atkins, D. C., <b>Moore, S. A.,</b> Simpson, T., Lindgren, K., &amp; Dillworth, T. (2011). Alcohol use, problems, and the course of posttraumatic stress disorder: A prospective study of female crime victims. Journal of Dual Diagnosis, 7(4), 262-279.
  </li>

  <li>
  Simpson, T. L., Comtois, K. A., <b>Moore, S. A.,</b> &amp; Kaysen, D. (2011). Comparing the diagnosis of PTSD when assessing worst vs. multiple traumatic events in a chronically mentally ill sample. Journal of Traumatic Stress, 24(3), 361–364.
  </li>

  <li>
  Echiverri, A., Jaeger, J., Chen, J., <b>Moore, S. A.,</b> &amp; Zoellner, L. A. (2011). “Dwelling in the past:” The role of rumination in the treatment of posttraumatic stress disorder. Cognitive and Behavioral Practice, 18(3), 338-349.
  </li>

  <li>
  <b>Moore, S. A.,</b> Varra, A. A., Michael, S. T., &amp; Simpson, T. L. (2010). Stress-related growth, positive reframing, and emotional processing in the prediction of post-trauma functioning among veterans in mental health treatment. Psychological Trauma: Theory, Research, Practice, and Policy, 2(2), 93-96.
  </li>

  <li>
  Whitsett, D. D. &amp; <b>Moore, S. A.</b> (2010). Measuring energy efficiency behavior: Perspectives and methods from psychological science. Proceedings of the ACEEE Summer Study on Energy Efficiency in Buildings, 11(7), 337-347.
  </li>

  <li>
  <b>Moore, S. A.</b> (2009). Cognitive abnormalities in posttraumatic stress disorder (PTSD). Current Opinion in Psychiatry, 22(1), 19-24.
  </li>

  <li>
  <b>Moore, S. A.,</b> Zoellner, L. A., &amp; Mollenholt, N. (2008). Are expressive suppression and cognitive reappraisal associated with stress-related symptoms? Behaviour Research and Therapy, 46(9), 993-1000.
  </li>

  <li>
  <b>Moore, S. A.</b> &amp; Zoellner, L. A. (2007). Overgeneral autobiographical memory and traumatic events: An evaluative review. Psychological Bulletin, 133(3), 419-437.
  </li>

</ul>
<img src="/images/rodentart.jpg" alt="Rodent art" height="200" width="200">
