<p> This would probably be a good place to tell you about me.</p>

<p>
  Michelle McCarthy<br>
  Kirkland, WA<br>
</p>

<p><u>
  Previous Work History:
</p></u>

<p>
  Currently a student at Ada Developers Academy in Seattle, WA
</p>

<p>
  Licensed Real Estate Broker specializing in residential real estate
</p>

<p>
  Previously worked at Lady Yum in Kirkland,WA
</p>

<p>
  Previously worked as a Sales Manager at Staples
</p>

<p><u>
  Education:
</p></u>

<p>
  Bachelors Degree from Western Washington University
</p>

<p><u>
  References:
</p></u>

<p>
  Available by Request
</p>
