<!DOCTYPE HTML>
<!-- 
<footer>
  <nav>
    <h5><a href="/">sally moore</a></h5>
    <h5>|</h5>
    <h5>web developer</h5>
    <h5>|</h5>
    <h5>clinical psychologist</h5>
    <h5>|</h5>
    <h5>rides bikes</h5>
  </nav>
</footer> -->
