<div id="blog">
  <ul id="nav">
    <li><a href = "/gallery"> Back to Photo gallery</a></li>
  </ul>

  <header><h1>Thailand</h1></header>

  <p><img src="./images/thailand/1.jpg" alt = "thailand" width =900px></p>
  <p><img src="./images/thailand/2.jpg" alt = "thailand" width =900px></p>
  <p><img src="./images/thailand/3.jpg" alt = "thailand" width =900px></p>
  <p><img src="./images/thailand/8.jpg" alt = "thailand" width =900px></p>
</div>
