<div class="travels">
  <h3>My Travels</h3>

  <h4>Galapagos Islands</h4>

    <img src="images/tortoise.jpg" alt="Galapagos Tortoise" />
    <img src="images/sea_lion.jpg" alt="Sea Lion" />
    <img src="images/boobie.jpg" alt="Blue-footed Boobie" />
    <img src="images/iguana.jpg" alt="Marine Iguana" />


  <h4>Italy</h4>

    <img src="images/rome_ruins.jpg" alt="Roman Ruins" />
    <img src="images/rome_market.jpg" alt="Roman Market"  />
    <img src="images/pompeii_road.jpg" alt="Pompeii Road" />
    <img src="images/pompeii.jpg" alt="Pompeii Mosaic" />


  <h4>San Diego Wild Animal Park</h4>

    <img src="images/rhinos.jpg" alt="Rhinos" />
    <img src="images/Ivan.jpg" alt="Ivan the Gorilla" />
    <img src="images/elephant.jpg" alt="Elephant" />
    <img src="images/flamingos.jpg" alt="Flamingos" />


  <h4>United Kingdom</h4>

    <img src="images/bath_abbey.jpg" alt="Bath Abbey" />
    <img src="images/bath_bridge.jpg" alt="Bath Bridge" />
    <img src="images/windsor.jpg" alt="Windsor Garden" />
    <img src="images/london_eye.jpg" alt="View from the London Eye" />

</div>
