<div class="travels">
  <h3>My Travels</h3>

  <h4>Galapagos Islands</h4>

    <a href="images/tortoise.jpg"><img src="images/tortoise.jpg" alt="Galapagos Tortoise"/></a>
    <a href="images/sea_lion.jpg"><img src="images/sea_lion.jpg" alt="Sea Lion"/></a>
    <a href="images/boobie.jpg"><img src="images/boobie.jpg" alt="Blue-footed Boobie"/></a>
    <a href="images/iguana.jpg"><img src="images/iguana.jpg" alt="Marine Iguana"/></a>

  <h4>Italy</h4>

    <a href="images/rome_ruins.jpg"><img src="images/rome_ruins.jpg" alt="Roman Ruins"/></a>
    <a href="images/rome_market.jpg"><img src="images/rome_market.jpg" alt="Roman Market"/></a>
    <a href="images/pompeii_road.jpg"><img src="images/pompeii_road.jpg" alt="Pompeii Road"/></a>
    <a href="images/pompeii.jpg"><img src="images/pompeii.jpg" alt="Pompeii Mosaic"/></a>

  <h4>San Diego Wild Animal Park</h4>

    <a href="images/rhinos.jpg"><img src="images/rhinos.jpg" alt="Rhinos"/></a>
    <a href="images/Ivan.jpg"><img src="images/Ivan.jpg" alt="Ivan the Gorilla"/></a>
    <a href="images/elephant.jpg"><img src="images/elephant.jpg" alt="Elephant"/></a>
    <a href="images/flamingos.jpg"><img src="images/flamingos.jpg" alt="Flamingos"/></a>

  <h4>United Kingdom</h4>

    <a href="images/bath_abbey.jpg"><img src="images/bath_abbey.jpg" alt="Bath Abbey"/></a>
    <a href="images/bath_bridge.jpg"><img src="images/bath_bridge.jpg" alt="Bath Bridge"/></a>
    <a href="images/windsor.jpg"><img src="images/windsor.jpg" alt="Windsor Garden"/></a>
    <a href="images/london_eye.jpg"><img src="images/london_eye.jpg" alt="View from the London Eye"/></a>

</div>
