<div id="blog">
  <ul id="nav">
    <li><a href = "/gallery"> Back to Photo gallery</a></li>
  </ul>

  <header><h1>Washington</h1></header>

    <p><img src="./images/washington/1.jpg" alt = "washington" width = 900px></p>
    <p><img src="./images/washington/2.jpg" alt = "washington" width = 900px></p>
    <p><img src="./images/washington/3.jpg" alt = "washington" width = 900px></p>
    <p><img src="./images/washington/4.jpg" alt = "washington" width = 900px></p>
    <p><img src="./images/washington/5.jpg" alt = "washington" width = 900px></p>
    <p><img src="./images/washington/6.jpg" alt = "washington" width = 900px></p>
    <p><img src="./images/washington/7.jpg" alt = "washington" width = 900px></p>
    <p><img src="./images/washington/8.jpg" alt = "washington" width = 900px></p>
    <p><img src="./images/washington/9.jpg" alt = "washington" width = 900px></p>
    <p><img src="./images/washington/10.jpg" alt = "washington" width = 900px></p>
    <p><img src="./images/washington/11.jpg" alt = "washington" width = 900px></p>
    <p><img src="./images/washington/12.jpg" alt = "washington" width = 900px></p>
</div>
