  <h1>Websites I frequent</h1>
</header>

<body>
<h3> This is a list of the websites I like to visit on a regular basis.</h3>
<ul>
  <li><a href="http://www.bbc.com/news">BBC News</a></li>
  <li><a href="http://www.themarysue.com">The Mary Sue</a></li>

  <li>Social:</li>

  <ul>
    <li><a href="https://twitter.com">Twitter</a></li>
    <li><a href="https://www.facebook.com">Facebook</a></li>
    <li><a href="https://www.linkedin.com">LinkedIn</a></li>
  </uL>

  <li><a href="http://www.yelp.com/seattle">Yelp Seattle</a></li>
  <li><a href="https://www.youtube.com">You Tube</a></li>
</ul>
