body {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 500px;

}

header {
  background: url("../../images/clouds.JPG");
  background-size: 960px;
  background-repeat: no-repeat;
  padding-bottom: 40px;
}

footer {
  background: url("../../images/sand.png");
  /*background-color: #53C1E6;*/

}

.about_me, .home {
  padding-bottom: 120px;

}
