header {
  background: url("../../images/nyc.JPG");
  background-size: 960px, 100px;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 35px;
  margin-top: -50px;
  position: relative;
  color: #F8F8FF;
  font-size: 26px;
  font-family: "Courier New", serif;
  padding:10px;
}

nav {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 20px;
  font-family: "Courier New";
}

a:link {
  color: #F8F8FF;
  text-decoration: none;
}

a:visited {
  color: #F8F8FF;
  text-decoration: none;
}

a:hover {
  background-color: #0000CD;
  text-decoration: underline;
}

h1:hover {
  color: #99FF33;
}

h2 {
  font-size: 1.7em;
  font-family: "Courier New", serif;
}

h3 {
  font-size: 1.17em;
  font-family: "Courier New", serif;
}
/*
#container {
  min-height:100%;
  position:relative;
}*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 960px;
  /*height: auto;*/
  min-height: 100%;
  margin: 0 auto;
  font-family: "Courier New", serif;
  color: #F5F5F5;
  background-color: #000000;
  padding:10px;
  padding-bottom:60px;   /* Height of the footer */
  /*relative*/
  /*bottom margin is height of footer*/
}

.home-section {
  padding-bottom: 20px;
}

.home-page-festival-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

.about-me-husky-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  width: 450px;
}

.about-me-section {
  padding-bottom: 100px;

}

.asian-dad-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}

.netherlands-section, .brazil-section {
  display: inline-block;
  margin-top: -17px;
  margin-bottom: 150px;
}

.brazil-photo {
  height: 282px;
  position: relative;
  width: 470px;
}

.netherlands-photo {
  width: 470px;
  height: 282px;
}

footer {
  background: url("../../images/nyc.JPG");
  color: #F5F5F5;
  bottom: 0;
  width:100%;
  height:60px;
  background-position: 0 75px;
  padding-bottom: 17px;
  position: relative;
}
/*background-size: 960px, 100px;*/
  /*padding-bottom: 20px;*/
  /*position: relative;
  background-size: 960px, 100px
