/* Base Style -------------------------------------------- */

html {
  min-width: 960px;
}

section {
  text-align: center;
}

footer {
  text-align: center;
}

/* Header & Navigation ----------------------------------- */

header {
  padding: 17px;
  background-color: #000;
}

h1 {
  display: inline;
  font: bold 2em 'Megrim', cursive;
  color: #fff;
  text-transform: uppercase;
}

nav {
  padding-top: 12px;
  font-family: 'Quicksand', sans-serif;
  float: right;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: gray;
}

nav a:hover {
  color: #7cc6d1;
}

/* Main Banner --------------------------------------------- */

#banner {
  background: #fafafa url(../images/sanfran.jpg) no-repeat center;
  background-size: cover;
  color: #7cc6d1;
  text-align: center;
  height: 550px;
  padding: 25px 0;
  background-size: cover;
}

/* Footer ------------------------------------------------- */

footer {
  padding: 25px;
  font: 0.7em "Arial";
}

footer a:link {
  color: gray;
  text-decoration: none
}