/* Base Style -------------------------------------------- */

html {
  min-width: 960px;
}

/* Header & Navigation ----------------------------------- */

header {
  padding: 15px;
  background-color: #000;
}

h1 {
  display: inline;
  font: bold 2.5em 'Megrim', cursive;
  color: #fff;
  text-transform: uppercase;
}

nav {
  padding-top: 17px;
  font-family: 'Quicksand', sans-serif;
  float: right;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: gray;
}

nav a:hover {
  color: #7cc6d1;
}