/* Base Style -------------------------------------------- */

html {
  min-width: 960px;
  background: #fff url(../images/gplaypattern_@2X.png) repeat center;
  margin: 5px;
}

section {
  text-align: center;
}

footer {
  text-align: center;
}

/* Header & Navigation ----------------------------------- */

header {
  padding: 17px;
}

h1 {
  display: inline;
  font: bold 2em 'Megrim', cursive;
  color: #000;
  text-transform: uppercase;
}

nav {
  padding-top: 11px;
  font-family: 'Quicksand', sans-serif;
  float: right;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: gray;
}

nav a:hover {
  color: #7cc6d1;
}

/* Main Content ------------------------------------------- */

#banner img {
  width: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  margin-top: 50px;
  border: 2px solid #000;
}

#banner img:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* Footer ------------------------------------------------- */

footer {
  padding: 25px;
  font: 0.7em "Arial";
}

footer a:link {
  color: gray;
  text-decoration: none
}