html {
    /* Size of largest container or bigger */
    /*min-width: 960px;*/
    text-align: center;
    }

body {
	width: 960px;
	font-family: Arial, sans-serif;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

header {
	width: 100%;
	background-color: rgb(62, 51, 132);
	padding: 20px 0;
}

footer {
	width: 100%;
	background-color: rgb(62, 51, 132);
	margin: 20px 0 0 0;
	padding: 20px 0;
	color: #ffffff;
}

nav {
	width: 100%;
	display: block;
	background-color: rgb(88, 78, 154);
	margin: 0 0 20px 0;
	padding: 2px 0;
	list-style: none;
}

nav ul {
	padding: 0;
}

nav li {
	display: inline;
	line-height: 40px;
  	height: 40px;
}

nav a {
	background-color: white;
	width: 60px;
	display: inline-block;
	padding: 10px;
	margin: 10px;
	font-weight: bold;
}

nav a:hover {
	background-color: rgb(128, 119, 183);
	color: #ffffff;
}

a {
	text-decoration: none;
}

h1 {
	color: #ffffff;
	font-size: 3em;
}

h3, p {
	text-align: left;
}

header h3 {
	color: #ffffff;
	margin-top: -1em;
	text-align: center;
}

article {
	margin: 0 20px;
}

img {
	margin: 10px;
}


/*
Color Palette -- periwinkle-ish
darkest:	rgb(21, 12, 80);
mid dark:	rgb(42, 31, 109);
main:		rgb(62, 51, 132);
mid light: 	rgb(88, 78, 154);
lightest:	rgb(128, 119, 183);
*/
