body {
  width: 960px;
  margin: auto;

  font-family: "Garamond", serif;
  font-size: 20px;
  background-color: #faf5e4;
}

header {
  align-content: center;
  background-color: #D7CA9F;
}

.nav-link {
  display: inline;
  padding: 15px 10px;
}

footer {
  background-color: #D7CA9F;
  display: block;
}

h1 {
font-variant: small-caps;
color: #130F00;
}

h2 {
border-bottom-style: solid;
color: #332700;
border-color: #332700;
}

h3 {
  color: #8E7830;
}

a:link {
  text-decoration: none;
  color: #605A0D;
}
a:visited {
  color: #aba346;
}
a:hover {
  color: #000000;
  text-decoration: underline;
}
a:active {
  color:
}
