/*.whole-class */

body{
  background:#DFE1E1;
  color:#424242;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  width: 960px;
}

.me-pagelist ul{

  background:#DFE1E1;
  color:#424242;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  width: 960px;

}

.main h1{
  text-align: center;
  font:"Verdana";
  color: #616B6B;

}

.subtitle h2{
  text-align: left;
  font:"Georgia";
  color: #194719;

}


.proper div{
  width:200px;
  height:120px;

}

.proper img{

  max-width: 100%;
  height: auto;
}


