html { width: 960px }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  padding: 5px;
  margin: 10px 5px;
}

header {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-style: italic;
  background-color: #0000FF;
  margin:  20px 5px 10px 0;
  padding: 2px;
  text-decoration: none;
}

footer {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  margin:  10px 5px 10px 10px;
  padding: 2px;
  text-decoration: none;
}

img {
  margin: 50px 10px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
  padding: 10px;
}

li {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

footer img {
  margin: 5px auto;
}

footer p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  margin: 0;
}

.geekwire li {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  margin: 10px 40px;
}

.projects {
  color: #FFFFFF;
  width: 610px;
  margin: 50px auto;
}

.bankaccounts {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  width: 200px;
	height: 200px;
	background: #23AC15;
}

.scrabble {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
	width: 200px;
	height: 200px;
	background: #cf1922;
}

.solarsystem {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
	width: 200px;
	height: 200px;
	background: #10807c;
}

.hangman {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
	width: 200px;
	height: 200px;
	background: #10807c;
}

.menu {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
	width: 200px;
	height: 200px;
	background: #d26c1a;
}

.another {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
	width: 200px;
	height: 200px;
	background: #23AC15;
}

.projects p {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0 auto;
  text-decoration: none;
}

.projects a {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.internal_nav a {
  margin: 8px 30px 5px 10px;
  color: #FFFFFF;
  text-decoration: none;
}

.internal_nav a:visited {
  color: #E6E6E6;
}

.internal_nav a:hover {
  color: #CCCC00;
}
