
html {
  background: url(images/seattle.jpg) no-repeat center center fixed;

}

header {
  background-color: rgba(194, 194, 214, 0.5);
  padding-right: 10px;
}

h1 {
  letter-spacing: 1px;
  display: inline;
  color: #5C1F99;
  font-family: 'Dosis', sans-serif;
  padding: 10px;
}

h4 {
  color: #000;
  font-family: 'Dosis', sans-serif;
}

h5 {
  color: #000;
  font-family: 'Dosis', sans-serif;
}


.title {
  display: inline;
}

.navigation {
  float: right;
  color: #00CCFF;
  font-family: "Tahoma";
  padding-top: 10px;
}

a:link{
  text-decoration: none;
  padding: 10px;
}


body {
  color: #FFFFFF;
  position: relative;
  margin-right: auto;
  margin-left;
  min-width: 960px;
  padding: 10px;
}

footer {
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.projects {
  font-family: 'Dosis', sans-serif;
  text-align: justify;
}

.projects a:link {
  color: #000;
}

.projects a:visited {

}

#ada{
  text-align: center;
}

.main_body {
  font-family: 'Dosis', sans-serif;
  background-color: rgba(253, 253, 253, 0.95);
  padding: 30px;
  color: #000;
  width: 700;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

#contacts {
  padding-top: 30px;
}
