.page-wrap {
  width: 960px;
  margin: 0 auto;
  /*background-color: green;*/
}


body {
  font-family: Verdana, Geneva, sans-serif;
}


header {
  font-family: Verdana, Geneva, sans-serif;
  padding: 20px;
}

footer {
  margin-top: 50px;
  text-align: center;

}

.site-name {
  margin: 0 auto;
  text-align: center;
  font-size: 110px;
}

.photo {
  display: block;
  margin: 0 auto;
  width: 960px;
  padding: 5px;
}

.blog-headers {
  padding: 5px;
  margin: 0;
}

.links {
  text-align: right;
}
.links a {
  color: black;
  text-decoration: none;
}

.links a strong {
  font-size: 30px
}
