.nav_bar {
  background-color: #CFDBD5;

  margin-top: 10px;
  padding: 20px 0 20px 20px;
}

.nav_bar a {
  margin-right: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 75%;

  margin: auto;
}

#main_content {
  margin: auto;
  width: 80%;
}

h1 {
  font-size: 30px;
}

h3 {
  font-style: italic;
}

a {
  text-decoration: none;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.blog_descrip {
  font-style: italic;
}

.blog_divider {
  letter-spacing: 30px;
  text-align: center;
}

.project_name {
  margin-top: 20px;
}

ul {
  list-style-type: none;
}

.contact_info {
  text-align: center;
}

footer {
  background-color: #CFDBD5;
  font-size: 12px;

  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: right;
}

footer a {
  padding-right: 20px;
}

#copyright {
  font-size: 10px;
  text-align: center;
}
