body {
  width: 960px;
  margin: 2% auto;
  background-color: #E8E8F0;
  font-family: 'Raleway', sans-serif;
}

.center {
  text-align: center;
}

img {

  width: 50%;
}

h1, h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #000000;
}

/******************* HEADER ***************************/

header {
  height: 40%;
  width: 100%;
}

/******************* NAVBAR ***************************/

nav {
  margin: 10px -2%;
  padding: 3% 2%;
  border: solid #666699;
  background-color: #666699;
  width: 100%;
}

nav a {
  font-size: 16px;
  margin: 2% 2%;
  font-family: sans-serif;
  color: #FFFFFF;
  text-decoration: none;
}

/******************* FOOTER ***************************/

footer {
  width: 100%;
  height: 100px;
  margin: 100px auto;
}

#twitter {
  padding: 0 0 10px 0;
  margin: -20px 0;
  width: 75px;
}


footer img {
  width: 50px;
  text-align: left;

}


/******************* COFFEE ***************************/

.display_img_inline img {
  width: 250px;
}

.display_img_inline li {
  display: inline-block;
  width: 45%;
  text-align: center;
  margin: 6% auto;

}


/******************* BLOG ***************************/

#hummingbird {
  width: 300px;
}


/******************* RECIPES ***************************/



.links a:hover {
  font-style: italic;
}


