<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Dr. Vonn Jerry XLII is a mad scientist with over 10 years of experience being mad and try to do science." />
    <title>Dr. Vonn Jerry XLII, mad scientist for hire</title>
  </head>
  <body>
    <header align="center">
      <a id="top"></a>

      <h1>Dr. Vonn Jerry XLII<br />
      mad scientist for hire</h1>

      <nav align="center">
        <h3>
          <a href="/" title="go back to the home page, back where it all started.">home</a> -
          <a href="/about" title="learn more about my glorious, insane self.">about</a> -
          <a href="/blag" title="read about some of my recent doings.">blag</a> -
          <a href="/about#contact-me" title="get ahold of me.">contact</a> -
          <a href="/projects" title="what terrible projects will I think of next?">projects</a>
        </h3>
      </nav>
    </header>

    <table align="center" id="solar-system" width="800">
      <thead>
        <header id="project-header">
          <td align="center" width="400"><h3>animated version<br />
            (pre-class assignment)</h3></td>
          <td align="center" width="400"><h3>dataset version<br />
            (week 2 assignment)</h3></td>
        </header>
      </thead>
      <tbody>
        <tr>
          <section id="screenshot">
            <td align="center"><a href="https://drvonnjerryxlii.github.io/solarSystem" title="link to the live animated version"><img src="../images/solar-system2.png" height="190" width="400" alt="" title="" /></a></td>
            <td align="center"><a href="https://github.com/drvonnjerryxlii/C3Projects--SolarSystem/tree/js/master" title="link to the github project repository for the data version"><img src="../images/solar-system1.png" alt="" title="" /></a></td>
          </section>
        </tr>
        <tr>
          <section id="process">
            <td>
              <p>Ned looks up and sees a man get out of a taxi - Lewis Dodson, fiftyish, wearing a large straw hat and looking almost too much like an American tourist. Dodson clutches as attaché case close to him and scans the cafe furtively. Nedry laughs, shakes his head, and waves to him. "Dodgson!" Dodgson hurries over to the table. "You shouldn't use my name." "Dodgson, Dodgson! We got Dodgson here! See, nobody cares. Nice hat. What are you trying to look like, a secret agent?"</p>
              <p>"John, the kind of control you're attempting is not possible. If there's one thing the history of evolution has taught us, it's that life will not be contained. Life breaks free. It expands to new territories. It crashes through barriers. Painfully, maybe even dangerously, but and...well, there it is." Ellie listens to him, impressed. Watch her head - support her head. Grant, ignoring the others, picks up the baby dinosaur, and holds it on the palm of his hand, under the incubator's heat light. He spreads the tiny animal out on the back of his hand and delicately runs his finger over its tail, counting the vertebrae. A look of puzzled recognition crosses his face. "You're implying that a group of composed entirely of females will breed?" "I'm simply saying that life - - finds a way.</p>
            </td>
            <td>
              <p>"John, the kind of control you're attempting is not possible. If there's one thing the history of evolution has taught us, it's that life will not be contained. Life breaks free. It expands to new territories. It crashes through barriers. Painfully, maybe even dangerously, but and...well, there it is." Ellie listens to him, impressed. Watch her head - support her head. Grant, ignoring the others, picks up the baby dinosaur, and holds it on the palm of his hand, under the incubator's heat light. He spreads the tiny animal out on the back of his hand and delicately runs his finger over its tail, counting the vertebrae. A look of puzzled recognition crosses his face. "You're implying that a group of composed entirely of females will breed?" "I'm simply saying that life - - finds a way.</p>
              <p>Ned looks up and sees a man get out of a taxi - Lewis Dodson, fiftyish, wearing a large straw hat and looking almost too much like an American tourist. Dodson clutches as attaché case close to him and scans the cafe furtively. Nedry laughs, shakes his head, and waves to him. "Dodgson!" Dodgson hurries over to the table. "You shouldn't use my name." "Dodgson, Dodgson! We got Dodgson here! See, nobody cares. Nice hat. What are you trying to look like, a secret agent?"</p>
            </td>
          </section>
        </tr>
      </tbody>
    </table>

    <footer align="center">
      <nav>
        <h3>
          ^<a href="#top" title="jump to the top of the page.">top</a> -
          <a href="mailto:drvonnjerryxlii@gmail.com" title="send me a message!">email</a> -
          <a href="https://github.com/drvonnjerryxlii" title="check out my code.">github</a> -
          <a href="https://www.linkedin.com/in/jerisommers" title="review my mad science history and projects.">linkedin</a> -
          <a href="https://twitter.com/drvonnjerryxlii" title="tweet me @DrVonnJerryXLII!">twitter</a>
        </h3>
      </nav>
      <h2>Dr. Vonn Jerry XLII, mad scientist for hire</h2>
    </footer>
  </body>
</html>
